<fieldset>
	<p><small>Accepted formats: PDF </small><mat-icon style="color: red">picture_as_pdf</mat-icon></p>
	<div *ngIf="currentFileUpload" class="progress">
		<div class="progress-bar progress-bar-info progress-bar-animated" role="progressbar"
		     attr.aria-valuenow="{{progress.percentage}}"
		     aria-valuemin="0" aria-valuemax="100" [ngStyle]="{width:progress.percentage+'%'}">
			{{progress.percentage}}%
		</div>
	</div>

	<app-message [message]="message.message"></app-message>

	<label>
		<input type="file"
		       accept="application/pdf,application/vnd.ms-excel"
		       class="inputfile"
		       id="{{attachmentType}}"
		       name="{{attachmentType}}"
		       (change)="selectFile($event)">
		<p>Choose file</p>
	</label>
</fieldset>