mat-action-row {
	display: flex;
	justify-content: center;
}
mat-action-row button, a{
	margin: 0 2rem;
	width: 150px;
}
@media screen and (max-width: 700px) {
	mat-dialog-content {
		width: 100%;
		height: auto;
		position: relative;
	}
	mat-form-field{
		width: 90%;
	}
}

@media screen and (max-width: 400px) {
	mat-dialog-content {
		width: 100%;
		height: auto;
		position: relative;
	}
	mat-form-field{
		width: 90%;
	}
}