<div class="jumbotron jumbotron-fluid">
	<h2>Cookie policy</h2>
	<hr class="my-4">

	<strong>What is a cookie?</strong>

	<p>A cookie is a small file that can be placed on your device that allows us to recognise and remember you. It is
		sent to your browser and stored on your computer’s hard drive or tablet or mobile device. When you visit our
		site, we may collect information from you automatically through cookies or similar technology.</p>
	<ul>
		<li>
			<strong>How do we use cookies?</strong>
			<p> We use cookies to secure and tailor your experience on our site, including:</p>
			<ul>
				<li>
					Keeping you signed in for a limited amount of time
				</li>
				<li>
					Making sure you can easily access the information you have submitted here
				</li>
				<li>
					Making sure administrators can access your submitted proposal and information
				</li>
			</ul>
			<p>Other organisations may also collect user information on our site through cookies,
				depending on your browser settings and what other services and websites you have given your consent to
				do so.

				Cookies that are used by DEMAX are referred to as “first-party cookies” and those that are used
				by organizations unrelated to us are called “third-party cookies”. Because of how cookies work, our
				website cannot access
				third-party cookies; nor can other organisations access the data in the cookies we use on our website.
				There are more details about both in the following sections.</p>
		</li>
		<li>
			<strong>What types of cookies do we use?</strong>
			<p>
				We only use one type of cookie. This cookie is essential to provide you with services you have
				requested. For example, these include the cookies that make it possible for you to stay logged into your
				account and submit proposals. If you set your browser to block these cookies, then these functions
				and services will not work for you.
			</p>
		</li>
		<li>
			<strong>Useful links</strong>

			<p>If you would like to find out more about privacy, cookies and their use on the internet, you may find the
				following links useful:</p>
			<ul>
				<li><a href="https://developers.google.com/analytics/devguides/collection/analyticsjs/cookie-usage">Cookie
					Usage on Websites - Google Analytics</a></li>
				<li><a href="https://developer.mozilla.org/en-US/docs/Web/HTTP/Cookies">HTTP Cookies - Mozilla Developer
					Network</a></li>
				<li><a href="http://ec.europa.eu/ipg/basics/legal/cookies/index_en.htm">Cookies - The European
					Commission Information Providers Guide</a></li>
				<li>På svenska: <a href="https://pts.se/sv/privat/internet/integritet/kakor-cookies/">Post- och
					telestyrelsens Frågor och svar om kakor (cookies) för dig som använder internet</a></li>
			</ul>
		</li>

	</ul>
</div>