<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow"
     *ngIf="isCreating">
	<h5 class="my-0 mr-md-auto font-weight-normal">Create a new proposal</h5>
	<nav class="my-2 my-md-0 mr-md-3">
		<button class="btn btn-sm btn-outline-secondary" *ngIf="this.selectedIndex>0" (click)="back()">Back</button>
		<button class="btn btn-sm btn-outline-secondary" *ngIf="this.selectedIndex<4" (click)="forward()">Next</button>
	</nav>
</div>

<app-loading [condition]="isLoading"></app-loading>

<form [formGroup]="proposalForm" *ngIf="!isLoading">
	<mat-tab-group [(selectedIndex)]="selectedIndex">
		<mat-tab label="1. General information" id="general">
			<mat-card>
				<mat-card-header>
					<mat-card-title>
						Proposal ID: {{proposalForm.controls['proposalId'].value}}
					</mat-card-title>
				</mat-card-header>
				<mat-card-content>
					<mat-form-field style="width:100%;">
						<input matInput
						       #experimentTitle
						       required
						       formControlName="experimentTitle"
						       placeholder="Proposal title">

						<mat-error
								*ngIf="proposalForm.controls['experimentTitle'].touched && proposalForm.controls['experimentTitle'].hasError('required')">
							A proposal title is required
						</mat-error>
						<mat-error
								*ngIf="proposalForm.controls['experimentTitle'].touched && proposalForm.get('experimentTitle').hasError('maxlength')">
							The title is too long.
						</mat-error>
					</mat-form-field>

					<mat-form-field style="width:100%;" hintLabel="Max 500 characters">
					<textarea matInput
					          #briefSummary
					          required
					          formControlName="briefSummary"
					          placeholder="Brief summary"
					          rows="4" cols="40">
					</textarea>
						<mat-error
								*ngIf="proposalForm.controls['briefSummary'].touched && proposalForm.get('briefSummary').hasError('required')">
							A brief summary is required.
						</mat-error>
						<mat-error
								*ngIf="proposalForm.controls['briefSummary'].touched && proposalForm.get('briefSummary').hasError('minlength')">
							The summary is too short.
						</mat-error>
						<mat-error
								*ngIf="proposalForm.controls['briefSummary'].touched && proposalForm.get('briefSummary').hasError('maxlength')">
							Please keep to the 500 character limit.
						</mat-error>
						<mat-hint align="end">{{briefSummary.value?.length || 0}}/500</mat-hint>
					</mat-form-field>
				</mat-card-content>
			</mat-card>
			<mat-card formGroupName="mainProposer" id="mainProposer">
				<mat-card-header>
					<mat-card-title>Main proposer</mat-card-title>
				</mat-card-header>
				<mat-card-content class="mainProposer">
					<mat-form-field>
						<input matInput
						       formControlName="firstName"
						       placeholder="First name">
					</mat-form-field>
					<mat-form-field>
						<input matInput
						       formControlName="lastName"
						       placeholder="Last name">
					</mat-form-field>
					<mat-form-field>
						<input matInput
						       formControlName="email"
						       placeholder="Email">
					</mat-form-field>
					<mat-form-field>
						<input matInput
						       formControlName="phone"
						       placeholder="Phone">
					</mat-form-field>
					<mat-form-field>
						<input matInput
						       formControlName="employer"
						       placeholder="Employer">
					</mat-form-field>
					<mat-form-field>
						<input matInput
						       formControlName="jobTitle"
						       placeholder="Job title">
					</mat-form-field>
				</mat-card-content>
			</mat-card>
			<mat-card id="coProposers">
				<mat-card-header>
					<mat-card-title>Co-proposers</mat-card-title>
				</mat-card-header>
				<mat-card-content>
					<table class="table table-sm">
						<tbody formArrayName="coProposers">
						<tr *ngFor="let coProposer of getCoProposers(proposalForm); let i = index" [formGroupName]="i">
							<td>
								<mat-form-field appearance="outline">
									<input matInput required formControlName="firstName" placeholder="First name">
									<mat-error
											*ngIf="getGroupControl(i, 'firstName').touched && getGroupControl(i, 'firstName').invalid">
										First name is required
									</mat-error>
								</mat-form-field>
							</td>
							<td>
								<mat-form-field appearance="outline">
									<input matInput required formControlName="lastName" placeholder="Last name">
									<mat-error
											*ngIf="getGroupControl(i, 'lastName').touched && getGroupControl(i, 'lastName').invalid">
										Last name is required
									</mat-error>
								</mat-form-field>
							</td>
							<td>
								<mat-form-field appearance="outline">
									<input matInput required formControlName="affiliation"
									       placeholder="Affiliation">
									<mat-error
											*ngIf="getGroupControl(i, 'affiliation').touched && getGroupControl(i, 'affiliation').invalid">
										Affiliation is required
									</mat-error>
								</mat-form-field>
							</td>
							<td>
								<mat-form-field appearance="outline">
									<input matInput required formControlName="email" placeholder="Email">
									<mat-error
											*ngIf="getGroupControl(i, 'email').touched && getGroupControl(i, 'email').invalid">
										Please provide a valid email address
									</mat-error>
								</mat-form-field>
							</td>
							<td class="align-middle" style="text-align: center;">
								<div style="padding: 2px 1em;">
									<button mat-raised-button
									        *ngIf="getCoProposers(proposalForm).length > i + 1 && getCoProposers(proposalForm).length !=1"
									        color="warn"
									        class="mat-elevation-z5 btn btn-danger"
									        (click)="deleteCoProposer(i)">
										Delete
									</button>
									<button mat-raised-button *ngIf="getCoProposers(proposalForm).length === i + 1"
									        class="mat-elevation-z5"
									        color="primary"
									        (click)="addCoProposer()"
									        [disabled]="proposalForm.get('coProposers').invalid">
										<mat-icon>person_add</mat-icon>
										Add new
									</button>
								</div>
							</td>
						</tr>
						</tbody>
					</table>
				</mat-card-content>
			</mat-card>
			<mat-card>
				<mat-card-header>
					<mat-card-title>
						Indicators
					</mat-card-title>
				</mat-card-header>
				<mat-card-content>
					<mat-radio-group
							formControlName="linksWithIndustry">
						<mat-label>Links with industry?</mat-label>
						<mat-radio-button value="yes">Yes</mat-radio-button>
						<mat-radio-button value="no">No</mat-radio-button>
					</mat-radio-group>
					<mat-form-field>
						<input matInput
						       formControlName="linksWithIndustryDetails"
						       placeholder="If yes, please describe:">
					</mat-form-field>

					<mat-radio-group formControlName="coProposerStudents">
						<mat-label>Are any of the co-proposers students?</mat-label>
						<mat-radio-button value="yes">Yes</mat-radio-button>
						<mat-radio-button value="no">No</mat-radio-button>
					</mat-radio-group>

					<mat-radio-group formControlName="workTowardsStudentsDegree">
						<mat-label>Does the proposal work towards a students degree?</mat-label>
						<mat-radio-button value="yes">Yes</mat-radio-button>
						<mat-radio-button value="no">No</mat-radio-button>
					</mat-radio-group>
				</mat-card-content>
			</mat-card>

			<mat-card>
				<mat-card-header>
					<mat-card-title>
						Final delivery date
					</mat-card-title>
				</mat-card-header>
				<mat-card-content>
					<mat-form-field>
						<input matInput
						       formControlName="needByDate"
						       required
						       [matDatepicker]="picker"
						       placeholder="Choose a date">
						<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
						<mat-datepicker #picker></mat-datepicker>
						<mat-error *ngIf="proposalForm.controls['needByDate'].hasError('required')">
							Please pick a final delivery date.
						</mat-error>

					</mat-form-field>

					<mat-form-field>
						<p>Please motivate the chosen date<br><em>
							<small>(e.g. based on awarded beamtime, or described intention to apply)</small>
						</em></p>

						<textarea matInput
						          required
						          formControlName="needByDateMotivation"
						          rows="4" cols="40"></textarea>
						<mat-error *ngIf="proposalForm.controls['needByDateMotivation'].hasError('required')">A
							motivation is required
						</mat-error>

					</mat-form-field>
				</mat-card-content>
				<mat-card-actions>
					<mat-checkbox formControlName="wantsCrystallization"
					              [checked]="proposalForm.get('wantsCrystallization').value">
						(A) Crystallization
					</mat-checkbox>
					<mat-checkbox formControlName="wantsBiologicalDeuteration"
					              [checked]="proposalForm.get('wantsBiologicalDeuteration').value">
						(B) Biological deuteration
					</mat-checkbox>
					<mat-checkbox formControlName="wantsChemicalDeuteration"
					              [checked]="proposalForm.get('wantsChemicalDeuteration').value">
						(C) Chemical deuteration
					</mat-checkbox>
					<mat-card-subtitle>
						In the next sections you will fill out the applicable area of support your proposal requires.
						Select one, or as many as apply from the alternatives below.
					</mat-card-subtitle>

				</mat-card-actions>
			</mat-card>
		</mat-tab>
		<mat-tab label="2. Crystallization" id="crystallization">
			<mat-card>
				<mat-card-header>
					<mat-card-title>
						(A) Crystallization
					</mat-card-title>
					<mat-card-subtitle>
						Required information to include in the “Practical Considerations” section of your
						proposal:
						<ul>
							<li>SDS-PAGE</li>
							<li>Chromatogram of protein purification to indicate yield & purity</li>
							<li>Photo of crystal</li>
						</ul>
						<mat-checkbox formControlName="wantsCrystallization"
						              [checked]="proposalForm.get('wantsCrystallization').value">
							Check box to select crystallization
						</mat-checkbox>
					</mat-card-subtitle>
				</mat-card-header>
				<mat-card-content>
					<app-crystallization
							[required]="proposalForm.get('wantsCrystallization').value"
							[proposalForm]="proposalForm"
							(uploaded)='getFiles($event)'
					></app-crystallization>
				</mat-card-content>
				<mat-card-actions>
					<button mat-raised-button color="primary" (click)="save()">Save</button>
				</mat-card-actions>
			</mat-card>
		</mat-tab>
		<mat-tab label="3. Biological deuteration" id="biological">
			<mat-card>
				<mat-card-header>
					<mat-card-title>
						(B) Biological deuteration
					</mat-card-title>
					<mat-card-subtitle>
						If the protein is to be purified by us, please remember to include a chromatogram from
						purification and a picture of SDS-PAGE that indicates MW and purity in your science case.<br>
						Select one, or as many as apply, from the alternatives below.
					</mat-card-subtitle>
				</mat-card-header>
				<mat-card-content>
					<mat-expansion-panel [expanded]="proposalForm.get('wantsBiologicalDeuteration').value"
					                     [disabled]="!proposalForm.get('wantsBiologicalDeuteration').value">
							<mat-expansion-panel-header>
								<mat-panel-title>
									<mat-slide-toggle formControlName="wantsBiologicalDeuteration"
									              [checked]="proposalForm.get('wantsBiologicalDeuteration').value">
										Slide to select deuteration type
									</mat-slide-toggle>
								</mat-panel-title>
							</mat-expansion-panel-header>
					<mat-expansion-panel [expanded]="proposalForm.get('wantsBiomassDeuteration').value"
					                     [disabled]="!proposalForm.get('wantsBiomassDeuteration').value">
						<mat-expansion-panel-header>
							<mat-panel-title>
								<mat-checkbox formControlName="wantsBiomassDeuteration" [checked]="proposalForm.get('wantsBiomassDeuteration').value">
									Biomass <em>(E. coli)</em>
								</mat-checkbox>
							</mat-panel-title>
						</mat-expansion-panel-header>
						<app-biomass [proposalForm]="proposalForm" (uploaded)='getFiles($event)'></app-biomass>
					</mat-expansion-panel>
					<mat-expansion-panel
							[expanded]="proposalForm.get('wantsProteinDeuteration').value"
							[disabled]="!proposalForm.get('wantsProteinDeuteration').value">
						<mat-expansion-panel-header>
							<mat-checkbox formControlName="wantsProteinDeuteration" [checked]="proposalForm.get('wantsProteinDeuteration').value">
								Recombinant protein <em>(E. coli)</em>
							</mat-checkbox>
						</mat-expansion-panel-header>
						<app-protein [proposalForm]="proposalForm" (uploaded)="getFiles($event)"></app-protein>
					</mat-expansion-panel>
					<mat-expansion-panel
							[expanded]="proposalForm.get('wantsYeastDeuteration').value"
							[disabled]="!proposalForm.get('wantsYeastDeuteration').value">
						<mat-expansion-panel-header>
							<mat-panel-title>
								<mat-checkbox formControlName="wantsYeastDeuteration" [checked]="proposalForm.get('wantsYeastDeuteration').value">
									Yeast-derived total lipid extract <em>(P. pastoris)</em>
								</mat-checkbox>
							</mat-panel-title>
						</mat-expansion-panel-header>
						<app-yeast [proposalForm]="proposalForm" (uploaded)="getFiles($event)"></app-yeast>
					</mat-expansion-panel>
					<mat-expansion-panel
							[expanded]="proposalForm.get('wantsOtherDeuteration').value"
							[disabled]="!proposalForm.get('wantsOtherDeuteration').value">
						<mat-expansion-panel-header>
							<mat-panel-title>
								<mat-checkbox formControlName="wantsOtherDeuteration" [checked]="proposalForm.get('wantsOtherDeuteration').value">
									Other
								</mat-checkbox>
							</mat-panel-title>
							<mat-panel-description>
								<small>For requests that don't fit any of the options above</small>
							</mat-panel-description>
						</mat-expansion-panel-header>
						<mat-form-field hintLabel="Max 500 characters">
								<textarea formControlName="other"
								          matInput
								          maxlength="500"
								          #other
								          rows="3">
								</textarea>
							<mat-hint align="end">{{other.value?.length || 0}}/500</mat-hint>
						</mat-form-field>
					</mat-expansion-panel>
					</mat-expansion-panel>
					<mat-expansion-panel
							[expanded]="proposalForm.get('wantsBiologicalDeuteration').value"
							[disabled]="!proposalForm.get('wantsBiologicalDeuteration').value"
							(opened)="setStep(4)">
						<mat-expansion-panel-header>
							<mat-panel-title>
								Biosafety
							</mat-panel-title>
						</mat-expansion-panel-header>
						<app-biosafety [proposalForm]="proposalForm"></app-biosafety>
						<mat-action-row>
							<button mat-raised-button color="primary" (click)="save()">Save</button>
						</mat-action-row>
					</mat-expansion-panel>
				</mat-card-content>
			</mat-card>
		</mat-tab>
		<mat-tab label="4. Chemical deuteration" id="chemical">
			<mat-card>
				<mat-card-header>
					<mat-card-title>
						(C) Chemical deuteration
					</mat-card-title>
				</mat-card-header>
				<mat-card-content>
					<mat-checkbox formControlName="wantsChemicalDeuteration"
					              [checked]="proposalForm.get('wantsChemicalDeuteration').value">
						Check box to select chemical deuteration
					</mat-checkbox>
				</mat-card-content>
				<mat-card-content>

				</mat-card-content>
			</mat-card>
					<app-chemical [proposalForm]="proposalForm"
					              (uploaded)='getFiles($event)'
					              [required]="wantsChemicalDeuteration"></app-chemical>
				<mat-action-row>
					<button mat-raised-button color="primary" class="mat-elevation-z5" (click)="save()">Save</button>
				</mat-action-row>
		</mat-tab>
		<mat-tab label="5. Upload proposal & review" id="submit">
			<mat-card>
				<mat-card-header>
					<mat-card-title>Attachments</mat-card-title>
					<mat-card-subtitle>Required documents to upload</mat-card-subtitle>
				</mat-card-header>
				<mat-card-actions>
					<mat-accordion [multi]="false" [displayMode]="default">
						<mat-expansion-panel [expanded]="true" class="card">
							<mat-expansion-panel-header class="card-header">
								<mat-panel-title>DEMAX Proposal</mat-panel-title>
								<mat-panel-description>
									Upload your DEMAX proposal here
								</mat-panel-description>
							</mat-expansion-panel-header>
							<div class="card-body">
								<p class="card-text">
									Proposals should be written in English, properly referenced, and prepared in the <a
										routerLink="{{url}}/api/word/attachment"> Word template.</a>
									<br>Please keep to the 2 page limit, including Summary, Background
									(Science Case, Practical Consideration, References, Figures/Tables)</p>
								<app-file-upload attachmentType="proposalTemplate"
								                 (uploaded)='getFiles($event)'
								                 [proposalId]="proposalForm.controls['proposalId'].value"></app-file-upload>
							</div>
						</mat-expansion-panel>

						<mat-expansion-panel class="card small">
							<mat-expansion-panel-header class="card-header">Beamtime proposal
							</mat-expansion-panel-header>
							<app-file-upload attachmentType="needByDateAttachment"
							                 [textString]="'Attach a copy of the beamtime proposal, draft or intended submission to apply'"
							                 (uploaded)='getFiles($event)'
							                 [proposalId]="proposalForm.controls['proposalId'].value"></app-file-upload>
						</mat-expansion-panel>

						<mat-expansion-panel *ngIf="proposalForm.get('wantsCrystallization').value"
						                     class="card small">
							<mat-expansion-panel-header class="card-header">Primary reference (crystallization)
							</mat-expansion-panel-header>
							<app-file-upload attachmentType="pbdIdReferenceAttachment"
							                 [textString]='"If the reference isn&#39;t publicly available, please upload a copy."'
							                 (uploaded)='getFiles($event)'
							                 [proposalId]="proposalForm.controls['proposalId'].value"></app-file-upload>
						</mat-expansion-panel>

						<mat-expansion-panel *ngIf="proposalForm.get('wantsBiomassDeuteration').value"
						                     class="card small">
							<mat-expansion-panel-header class="card-header">Primary reference (biomass)
							</mat-expansion-panel-header>
							<app-file-upload attachmentType="organismReferenceAttachment"
							                 [textString]='"Please attach a reference or protocol of culture conditions and media composition."'
							                 (uploaded)='getFiles($event)'
							                 [proposalId]="proposalForm.controls['proposalId'].value"></app-file-upload>
						</mat-expansion-panel>

						<mat-expansion-panel class="card small"
						                     *ngIf="proposalForm.controls['proteinDeuteration'].value.needsPurificationSupport==='yes'">
							<mat-expansion-panel-header class="card-header">Primary reference (proteins)
							</mat-expansion-panel-header>
							<app-file-upload attachmentType="needsPurificationSupportAttachment"
							                 [textString]='"If you need DEMAX to purify the protein from deuterated biomass, please attach a reference or protocol."'
							                 (uploaded)='getFiles($event)'
							                 [proposalId]="proposalForm.controls['proposalId'].value"></app-file-upload>
						</mat-expansion-panel>

						<mat-expansion-panel *ngIf="proposalForm.get('wantsChemicalDeuteration').value"
						                     class="card small">
							<mat-expansion-panel-header class="card-header">Chemical structure
							</mat-expansion-panel-header>
							<app-file-upload attachmentType="chemicalStructureAttachment"
							                 [textString]="'Attach chemical structure'"
							                 (uploaded)='getFiles($event)'
							                 [proposalId]="proposalForm.controls['proposalId'].value"></app-file-upload>
						</mat-expansion-panel>

						<mat-expansion-panel
								*ngIf="proposalForm.controls['chemicalDeuteration'].value.hasPreparedMolecule==='yes'"
								class="card small">
							<mat-expansion-panel-header class="card-header">Primary reference (chemical deuteration)
							</mat-expansion-panel-header>
							<app-file-upload attachmentType="moleculePreparationReferenceArticle"
							                 [textString]='"If the molecule (or an unlabeled/isotopic analogue) has been prepared by yourself or others, please provide a protocol (attach a reference PDF if published)."'
							                 (uploaded)='getFiles($event)'
							                 [proposalId]="proposalForm.controls['proposalId'].value"></app-file-upload>
						</mat-expansion-panel>

					</mat-accordion>
				</mat-card-actions>
				<mat-card-header>
					<mat-card-title>Uploaded files</mat-card-title>
				</mat-card-header>
				<mat-card-content>
					<table class="table table-hover table-light thead-dark">
						<thead>
						<tr>
							<th scope="col">Document type</th>
							<th scope="col">Filename</th>
							<th scope="col">Size</th>
							<th scope="col">Filetype</th>
							<th scope="col"></th>
							<th scope="col"></th>
						</tr>
						</thead>

						<tbody *ngIf="!isLoading">
						<tr *ngFor="let file of fileUploads | async" class="file">
							<th scope="row">
								{{file.attachmentType}}
							</th>
							<td>
								<a href="{{url}}/api/file/download/{{file.path.slice(17,-1)}}">
									<img src="../../../assets/logos/pdf.png" width="35" alt="{{file.originalname}}">
									{{file.originalname}}
								</a>
							</td>
							<td>
								{{file.size}}
							</td>
							<td>{{file.mimetype}}</td>
							<td>
								<button class="btn btn-danger btn-sm"
								        (click)="delete(file.path.slice(17,-1), file.attachmentName)">Delete
								</button>
							</td>
							<td>
								<a mat-raised-button href="{{url}}/api/file/download/{{file.path.slice(17,-1)}}"
								   class="btn btn-success">
									<mat-icon>get_app</mat-icon>
									Download
								</a>
							</td>
						</tr>
						</tbody>
					</table>
				</mat-card-content>
			</mat-card>
			<div class="card text-center">
				<div class="card-header">
					<ul class="nav nav-pills card-header-pills">
						<li class="nav-item">
							<a class="nav-link disabled"></a>
						</li>
						<li class="nav-item">
							<button class="btn btn-danger nav-link mat-elevation-z5" (click)="generatePdf()">
								Generate PDF for review
							</button>
						</li>
						<li class="nav-item">
							<a class="nav-link disabled"></a>
						</li>
					</ul>
				</div>
				<div class="card-body">
					<h5 class="card-title">Review & submit</h5>
					<p class="card-text">Generate and review a merged PDF of the form data and all attached
						documents.</p>
					<button class="btn btn-primary mat-elevation-z8" (click)="submitProposal()">
						Submit proposal
					</button>
				</div>
			</div>
		</mat-tab>
	</mat-tab-group>
</form>
<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
	<nav class="my-2 my-md-0 mr-md-3">
		<button mat-stroked-button class="btn btn-outline-secondary" *ngIf="this.selectedIndex<4" (click)="forward()">
			Skip
		</button>
		<button mat-stroked-button class="btn btn-outline-secondary" *ngIf="this.selectedIndex>0" (click)="back()">
			Back
		</button>
		<button mat-stroked-button class="btn btn-outline-secondary" *ngIf="this.selectedIndex<4" (click)="forward()">
			Next
		</button>
		<button mat-stroked-button class="btn btn-primary" (click)="save()">Save</button>
	</nav>
</div>
