.jumbotron {
	padding: 3rem;
	background-color: white;
}
.fileUpload{
	display: block;
	max-width: 700px;
}

textarea {
	display: block;
}

fieldset {
	padding: 2rem;
}

mat-form-field {
	display: block;
	max-width: 700px;
}

mat-checkbox {
	margin: 2rem;
	display: block;
}

mat-radio-group {
	display: block;
}

mat-radio-button {
	margin: 2rem;
}

.mainProposer mat-form-field {
	width: 300px;
	display: inline-block;
}

.coProposer mat-form-field {
	width: 300px;
	display: inline-block;
}

mat-action-row {
	display: flex;
	justify-content: center;
	padding: 2rem;
	margin-bottom: 5rem;
}
mat-action-row button, a{
	margin: 0 2rem;
}
