<section>
	<h2>My proposals</h2>
	<ul class="list-group">
		<li class="list-group-item"
		    *ngFor="let proposal of proposals"
		    (click)="selectProposal(proposal)"
		    [class.active]="proposal === selectedProposal">
			{{proposal.experimentTitle}}
			{{proposal._id}}
		</li>
	</ul>
	<app-proposal-details
			[proposal]="selectedProposal"
			[createHandler]="addProposal"
			[updateHandler]="updateProposal"
			[deleteHandler]="deleteProposal">
	</app-proposal-details>
	<button mat-raised-button color="primary" (click)="createNewProposal()">Create new proposal</button>
</section>