mat-card {
	margin: 2rem 5rem;
	padding: 2rem;
}
mat-tab-group{
	padding: 5rem;
}

.jumbotron {
	padding: 3rem;
	background-color: white;
}

.editProposal{
	margin-left: 2rem;
}

mat-checkbox{
	margin: 2rem;
	display: block;
}
mat-radio-group{
	display: block;
}
mat-radio-button{
	margin: 2rem;
}

.tab-4 tr{
	padding: 1rem;
}
.tab-4 td{
	padding: 1rem;
	margin: 0 auto;
}
mat-form-field{
	width: 60%;
	margin: 1rem auto;
}
button{
	margin: 1em;
}
.smallFormField{
	width: 300px;
}

table {
	width: 100%;
}

mat-action-row{
	display: flex;
	justify-content: center;
}