<!--<div class="wrapper" *ngIf="condition">
	<div class="dot"></div>
	<p class="lead">Loading...</p>
</div>

<div *ngIf="condition" class="lds-ripple">
	<div></div>
	<div></div>
</div>
-->
<mat-card *ngIf="condition" style="text-align: center;">
	<mat-card-header>
		<mat-card-title>
			<p class="lead">Loading {{nameOfDataThatIsLoading}}...</p>
		</mat-card-title>
	</mat-card-header>
<mat-card-content style="padding: 4rem;">
	<div class="lds-grid"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
</mat-card-content>
</mat-card>
