img {
	border-radius: 0.5rem;
	margin: 0 auto;
}
mat-card{
	width: 300px;
	height: 350px;
}

a{
	display: block;
	width: 100%;
	color: #009EDD;
}
a:hover{
	color: black;
	background-color: whitesmoke;
	text-decoration: none;
}