<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
	<h1 class="h2">Admin console</h1>
	<div class="btn-toolbar mb-2 mb-md-0">
		<div class="btn-group mr-2">
			<button class="btn btn-sm btn-outline-secondary">Refresh</button>
			<button class="btn btn-sm btn-outline-secondary">Logs</button>
		</div>
	</div>
</div>

<mat-tab-group>
	<mat-tab label="Users">
	<app-user-admin></app-user-admin>
	</mat-tab>
	<mat-tab label="Proposals">
		<app-proposal-admin></app-proposal-admin>
	</mat-tab>
	<mat-tab label="Files">
		<app-file-admin></app-file-admin>
	</mat-tab>
</mat-tab-group>