.long{
	display: none;
}

mat-form-field{
	width: 50%;
	font-size: 12px;
}
mat-checkbox{
	max-width: 50%;
	font-size: 10px;
	margin: 0;
	padding: 0;
}
@media screen and (max-width: 700px) {
	mat-card {
		width: 100%;
		height: auto;
		position: relative;
	}
	mat-form-field{
		width: 90%;
	}
	.long{
		display: block;
		margin: 0 auto;
	}
}

@media screen and (max-width: 400px) {
	mat-card {
		width: 100%;
		height: auto;
		position: relative;
	}
	mat-form-field{
		width: 90%;
	}
	.long{
		display: block;
		margin: 0 auto;
	}
}