mat-form-field {
	width: 60%;
}
.card{
	background-color: white;
	border-radius: 1rem;
	padding: 2rem;
	margin: 0 auto;
}

button{
	width: 30%;
}
fieldset{
	text-align: left;
}
mat-checkbox{
	font-size: 1.3rem;
}