<form [formGroup]="registerForm" (ngSubmit)="register()">
	<mat-card>
		<mat-form-field>
			<input matInput required type="text" name="firstName" formControlName="firstName" placeholder="First name"
			       autofocus>
		</mat-form-field>
		<mat-form-field>
			<input matInput required type="text" name="lastName" formControlName="lastName" placeholder="Last name">
		</mat-form-field>
		<mat-form-field>
			<input matInput
			       required
			       formControlName="email"
			       placeholder="Email"
			       [ngClass]="registerForm.controls['email'].invalid ? 'is-invalid' : ''">
			<mat-error *ngIf="registerForm.controls['email'].hasError('required')">Email is required</mat-error>
			<mat-error *ngIf="registerForm.controls['email'].hasError('email')">Please enter a valid email address</mat-error>

		</mat-form-field>
		<mat-form-field>
			<input matInput required type="text" name="phone" formControlName="phone" placeholder="Phone">
		</mat-form-field>
		<mat-form-field>
			<input matInput required type="text" name="employer" formControlName="employer" placeholder="Affiliation">
		</mat-form-field>
		<mat-form-field>
			<input matInput required type="text" name="jobTitle" formControlName="jobTitle" placeholder="Job title">
		</mat-form-field>
		<mat-form-field style="padding-bottom: 20px; width: 45%; margin-right: 2rem;">

			<input matInput
			       required
			       formControlName="password"
			       placeholder="Password"
			       [type]="hide ? 'password' : 'text'"
			       [ngClass]="registerForm.controls['password'].invalid ? 'is-invalid' : ''">
			<mat-icon matTooltip="Show password" matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>

			<mat-error [ngClass]="registerForm.controls['password'].hasError('required') || registerForm.controls['password'].hasError('minlength')  ? 'text-danger' : 'text-success'">
				<mat-icon>{{ registerForm.controls['password'].hasError('required') || registerForm.controls['password'].hasError('minlength') ? 'cancel' : 'check_circle' }}</mat-icon>
				Must be at least 8 characters
			</mat-error>
			<mat-error
					[ngClass]="registerForm.controls['password'].hasError('required') || registerForm.controls['password'].hasError('hasNumber')  ? 'text-danger' : 'text-success'">
				<mat-icon>{{ registerForm.controls['password'].hasError('required') || registerForm.controls['password'].hasError('hasNumber') ? 'cancel' : 'check_circle' }}</mat-icon>
				Must contain at least 1 number
			</mat-error>
			<mat-error
					[ngClass]="registerForm.controls['password'].hasError('required') || registerForm.controls['password'].hasError('hasCapitalCase')  ? 'text-danger' : 'text-success'">
				<mat-icon>{{ registerForm.controls['password'].hasError('required') || registerForm.controls['password'].hasError('hasCapitalCase') ? 'cancel' : 'check_circle' }}</mat-icon>
				Must contain at least 1 letter in capital case
			</mat-error>

		</mat-form-field>

		<mat-form-field style="width: 45%">

			<input matInput
			       required
			       formControlName="confirmPassword"
			       [type]="hide ? 'password' : 'text'"
			       placeholder="Confirm password"
			       [ngClass]="registerForm.controls['confirmPassword'].invalid ? 'is-invalid' : ''">
			<mat-icon matTooltip="Show password" matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
			<mat-error *ngIf="registerForm.controls['confirmPassword'].hasError('NoPasswordMatch')">Passwords do not match</mat-error>

		</mat-form-field>
		<mat-checkbox required formControlName="hasConsentedToEmails">
			Receive updates about the submission process through email. You can change this setting whenever you want.
		</mat-checkbox>
		<mat-checkbox required formControlName="hasConsentedToGdpr">
			I confirm that I have read, consent and agree to the DEMAX <a style="color: #009EDD" (click)="openPrivacyDialog()">Privacy
			Statement</a>
		</mat-checkbox>
		<mat-checkbox required formControlName="hasConsentedToCookies">
			I consent to the DEMAX <a style="color: #009EDD" (click)="openCookieDialog()">Cookie policy</a>
		</mat-checkbox>
		<mat-card-actions>
			<button mat-raised-button [disabled]="!registerForm.valid" color="primary" class="btn btn-primary btn-block font-weight-bold mat-elevation-z5" type="submit">
				Register
			</button>
		</mat-card-actions>
	</mat-card>
</form>
