<form [formGroup]="registerForm" (ngSubmit)="register()">
	<mat-card>
		<mat-form-field>
			<input matInput required type="text" name="firstName" formControlName="firstName" placeholder="First name" autofocus>
		</mat-form-field>
		<mat-form-field>
			<input matInput required type="text" name="lastName" formControlName="lastName" placeholder="Last name">
		</mat-form-field>
		<mat-form-field>
			<input matInput required type="email" name="email" formControlName="email" placeholder="Email" autofocus [formControl]="email">
			<mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
		</mat-form-field>
		<mat-form-field>
			<input matInput required type="text" name="phone" formControlName="phone" placeholder="Phone">
		</mat-form-field>
		<mat-form-field>
			<input matInput required type="text" name="employer" formControlName="employer" placeholder="Affiliation">
		</mat-form-field>
		<mat-form-field>
			<input matInput required type="text" name="jobTitle" formControlName="jobTitle" placeholder="Job title">
		</mat-form-field>
		<mat-form-field style="margin-bottom: 1rem;">
			<input matInput required [type]="hide ? 'password' : 'text'" name="password" formControlName="password" [formControl]="password" placeholder="Password">
			<mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
			<mat-hint>Please use password with min. 8 letter mixture of upper/lower case and numbers</mat-hint>
			<!--<mat-error *ngIf="password.invalid">{{getPasswordErrorMessage()}}</mat-error>-->
		</mat-form-field>
		<!--<mat-form-field>
			<input matInput required [type]="hide ? 'password' : 'text'" name="confirmPassword" formControlName="confirmPassword" [formControl]="password" placeholder="Confirm password">
			<mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
			<mat-hint>Please use password with min. 8 letter mixture of upper/lower case and numbers</mat-hint>
		</mat-form-field>-->
		<mat-checkbox required formControlName="hasConsentedToEmails">
		Receive updates about DEMAX and the proposal process through email.<br>
			<small style="color: gray;">You can change this setting whenever you want.</small>
	</mat-checkbox>
	<mat-checkbox required formControlName="hasConsentedToGdpr">
		I confirm that I have read, consent and agree to the DEMAX <a (click)="openPrivacyDialog()">Privacy Statement</a>
	</mat-checkbox>
		<mat-checkbox required formControlName="hasConsentedToCookies">
			I consent to the DEMAX <a (click)="openCookieDialog()">Cookie policy</a>
		</mat-checkbox>
		<mat-card-actions style="padding: 1rem;">
			<button mat-raised-button [disabled]="!registerForm.valid" color="primary" class="mat-elevation-z5"
			        style="width: 150px;" type="submit">
				Register
			</button>
		</mat-card-actions>
	</mat-card>
</form>
