mat-form-field{
	margin: 0;
	padding: 0;
	font-family: "Titillium Web", sans-serif;
	font-size: 1.3rem;
	width: 50%;
}
mat-checkbox{
	font-family: "Titillium Web", sans-serif;
	font-size: 1.1rem;
	font-weight: lighter;
	max-width: 50%;
}

button{
	display: block;
}