<nav class="navbar navbar-expand-md navbar-light bg-white">
	<a class="navbar-brand" href="#">Total number of uploaded files: {{files.length}}</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04"
	        aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarsExample04">
		<ul class="navbar-nav mr-auto">
			<!--<li class="nav-item">
				<a class="nav-link" href="#">Statistics</a>
			</li>
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown04" data-toggle="dropdown"
				   aria-haspopup="true" aria-expanded="false">Archive</a>
				<div class="dropdown-menu" aria-labelledby="dropdown04">
					<a class="dropdown-item" href="#">2019 I</a>
					<a class="dropdown-item" href="#">2019 II</a>
						<a class="dropdown-item" href="#">2020 III</a>
				</div>
			</li>-->
		</ul>
		<form class="form-inline my-2 my-md-0">
			<button mat-raised-button color="primary" (click)="getFiles()">Update</button>
			<input class="form-control" type="text" placeholder="Search" disabled>
		</form>
	</div>
</nav>


<table mat-table [dataSource]="fileUploads" *ngIf="!isLoading">

	<ng-container matColumnDef="filename">
		<th mat-header-cell *matHeaderCellDef> Filename</th>
		<td mat-cell *matCellDef="let file"> {{file}}</td>
	</ng-container>

	<ng-container matColumnDef="options">
		<th mat-header-cell *matHeaderCellDef>Actions</th>
		<td mat-cell *matCellDef="let file">
			<a mat-raised-button download class="btn btn-success" href="{{url}}/api/file/download/{{file}}">
				<mat-icon>get_app</mat-icon>
				Download</a>
		</td>
	</ng-container>

	<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
	<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<mat-card *ngIf="isLoading">
	<mat-card-header>
		<mat-card-subtitle>Loading files...</mat-card-subtitle>
	</mat-card-header>
	<div class="lds-roller">
		<div></div>
		<div></div>
		<div></div>
		<div></div>
		<div></div>
		<div></div>
		<div></div>
		<div></div>
	</div>
</mat-card>
