<div *ngIf="proposal" class="row">
	<div class="col-md-12">
		<h2 *ngIf="proposal._id">Proposal Details</h2>
		<h2 *ngIf="!proposal._id">New Proposal</h2>
	</div>
</div>
<div *ngIf="proposal">
	<form>
		<mat-form-field>
			<input matInput [(ngModel)]="proposal.experimentTitle" placeholder="Experiment title"/>
		</mat-form-field>
		<mat-form-field>
			<textarea matInput [(ngModel)]="proposal.briefSummary" placeholder="Brief summary"></textarea>
		</mat-form-field>
		<mat-form-field>
			<button mat-raised-button *ngIf="!proposal._id" (click)="createProposal(proposal)">Create</button>
			<button mat-raised-button *ngIf="proposal._id" (click)="updateProposal(proposal)">Update</button>
			<button *ngIf="proposal._id" (click)="deleteProposal(proposal._id)">Delete</button>
		</mat-form-field>
	</form>
</div>