.jumbotron {
	padding: 3rem;
	background-color: white;
}
.jumbotron ul{
	width: 70%;
}

li:last-child {
	margin-top: 1rem;
	list-style-type: none;
	font-style: italic;
	font-size: 1.5rem;
}

li:last-child:before {
	content: "*    "
}