<div class="jumbotron">
	<h2>Proposal guidelines</h2>

	<hr class="my-4">

	<p>Users are strongly encouraged to contact DEMAX staff prior to preparing and submitting a
		deuteration/crystallization proposal.
		<br>General enquiries can be sent to: <a href="mailto:demax@esss.se">demax@esss.se</a> or to one of the<a
				routerLink="/contact"> subject matter experts.</a></p>

	<ul>
		<li>
			Proposals should be written in English, properly referenced, and prepared in the <a download
			                                                                                    href="{{url}}/word/attachment">Word
			template</a>.<br>
			Please keep to the 2 page limit, including Summary, Background (Science Case, Practical Consideration,
			References, Figures/Tables)
		</li>
		<li>Access to DEMAX is granted on the basis of both a technical and a peer-review process.
		</li>
		<li> Proposals awarded during initial operations (2019-2022) will be free of charge. <br>
			During formal user operations (beyond 2023) we reserve the right to ask for partial financial contributions
			towards consumables & shipping costs.
		</li>
		<li> During initial operations we will not limit access to DEMAX based on ESS-membership.<br>
			Beyond this period we will respect the user access policy that will be applicable ESS-wide.
		</li>
		<li> Biological and chemical deuteration proposals are run as a service but users for protein
			crystallization are welcome to come in person as well.
		</li>
		<li>Proposals awarded during initial operations (2019-2021) will be free of charge. During formal
			user operations (beyond 2023) we reserve the right to ask for partial financial contributions
			towards consumables & shipping costs.
		</li>
		*<em>Users should note that the contributions by DEMAX should be acknowledged in any publications
		containing materials obtained from us.<br> For particularly challenging projects that require above
		average involvement from DEMAX, relevant DEMAX staff should be acknowledged through
		co-authorship of any subsequent publications.</em>

	</ul>
</div>