label {
	cursor: pointer;
	border: solid lightgray 0.5px;
	display: block;
	margin-bottom: 1rem;
	padding: 0.5rem 2rem;
	width: 200px;
}

.inputFile {
	opacity: 0;
	position: absolute;
	z-index: -1;
}

#fileUpload {
	opacity: 0;
	position: absolute;
	z-index: -1;
}