<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
	<h1 class="h2">My current proposals</h1>
	<div class="btn-toolbar mb-2 mb-md-0">
		<div class="btn-group mr-2">
			<button mat-raised-button class="btn btn-sm btn-outline-secondary" disabled>Create new proposal</button>
			<a href="{{url}}/api/word/attachment" download>
				<button class="btn btn-sm btn-outline-secondary">Download proposal template</button>
			</a>
		</div>
	</div>
</div>

<p *ngIf="proposals.length === 0 && !isLoading">Proposal submission is now closed.</p>

<mat-card *ngIf="isLoading">
	<mat-card-header>
		<mat-card-subtitle>Loading...</mat-card-subtitle>
	</mat-card-header>
	<div class="lds-roller">
		<div></div>
		<div></div>
		<div></div>
		<div></div>
		<div></div>
		<div></div>
		<div></div>
		<div></div>
	</div>
</mat-card>
<section *ngIf="!isLoading">

	<table mat-table [dataSource]="proposals">

		<ng-container matColumnDef="proposalId">
			<th mat-header-cell *matHeaderCellDef> Proposal ID</th>
			<td mat-cell *matCellDef="let proposal"> {{proposal.proposalId}}</td>
		</ng-container>

		<ng-container matColumnDef="experimentTitle">
			<th mat-header-cell *matHeaderCellDef> Experiment title</th>
			<td mat-cell *matCellDef="let proposal"> {{proposal.experimentTitle}}</td>
		</ng-container>

		<ng-container matColumnDef="lab">
			<th mat-header-cell *matHeaderCellDef> Lab</th>
			<td mat-cell *matCellDef="let proposal"> {{proposal.lab}}</td>
		</ng-container>
		<ng-container matColumnDef="mainProposer">
			<th mat-header-cell *matHeaderCellDef>Main proposer</th>
			<td mat-cell *matCellDef="let proposal">{{proposal.mainProposer.firstName}}
				{{proposal.mainProposer.lastName}}
			</td>
		</ng-container>
		<ng-container matColumnDef="submitted">
			<th mat-header-cell *matHeaderCellDef> Submitted</th>
			<td mat-cell *matCellDef="let proposal">
				<button mat-stroked-button disabled *ngIf="proposal.submitted">
					<mat-icon>done</mat-icon>
					Yes
				</button>
				<button mat-stroked-button disabled *ngIf="!proposal.submitted">
					<mat-icon>clear</mat-icon>
					No
				</button>
			</td>
		</ng-container>

		<ng-container matColumnDef="options">
			<th mat-header-cell *matHeaderCellDef>Actions</th>
			<td mat-cell *matCellDef="let proposal">
				<button mat-raised-button color="primary" [routerLink]="['/proposals/' + proposal.proposalId]">Edit
				</button>
				<!--<button mat-raised-button color="primary" (click)="enableEditing(proposal)">Edit</button>-->
				<button mat-raised-button color="warn" (click)="deleteProposal(proposal)">Delete</button>
				<a *ngIf="proposal.submitted" mat-raised-button download class="btn btn-success"
				   href="{{url}}/api/proposals/download/{{proposal.proposalId}}">
					<mat-icon>get_app</mat-icon>
					Download
				</a>
			</td>
		</ng-container>

		<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
		<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
	</table>

</section>
