<nav class="navbar navbar-expand-md navbar-light bg-white">
	<a class="navbar-brand" href="#">My proposals</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04"
	        aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="btn-group mr-2">
		<button mat-raised-button class="btn btn-sm btn-outline-secondary" disabled>Create new proposal</button>
		<a href="{{url}}/api/word/attachment" download>
			<button class="btn btn-sm btn-outline-secondary">Download proposal template</button>
		</a>
	</div>
	<div class="collapse navbar-collapse" id="navbarsExample04">
		<ul class="navbar-nav mr-auto">
			<!--<li class="nav-item">
				<a class="nav-link" href="#">Statistics</a>
			</li>
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown04" data-toggle="dropdown"
				   aria-haspopup="true" aria-expanded="false">Archive</a>
				<div class="dropdown-menu" aria-labelledby="dropdown04">
					<a class="dropdown-item" href="#">2019 I</a>
					<a class="dropdown-item" href="#">2019 II</a>
						<a class="dropdown-item" href="#">2020 III</a>
				</div>
			</li>-->
		</ul>
		<form class="form-inline my-2 my-md-0">
			<button mat-raised-button color="primary" (click)="getProposals()"><mat-icon>refresh</mat-icon> Refresh</button>
		</form>
	</div>
</nav>

<p *ngIf="proposals.length === 0 && !isLoading">Proposal submission is now closed.</p>

<mat-card *ngIf="isLoading">
	<mat-card-header>
		<mat-card-subtitle>Loading...</mat-card-subtitle>
	</mat-card-header>
	<div class="lds-roller">
		<div></div>
		<div></div>
		<div></div>
		<div></div>
		<div></div>
		<div></div>
		<div></div>
		<div></div>
	</div>
</mat-card>
<section *ngIf="!isLoading">

	<table mat-table [dataSource]="proposals" class="table table-sm">

		<ng-container matColumnDef="proposalId">
			<th mat-header-cell *matHeaderCellDef> Proposal ID</th>
			<td mat-cell *matCellDef="let proposal"> {{proposal.proposalId}}</td>
		</ng-container>

		<ng-container matColumnDef="experimentTitle">
			<th mat-header-cell *matHeaderCellDef> Experiment title</th>
			<td mat-cell *matCellDef="let proposal"> {{proposal.experimentTitle}}</td>
		</ng-container>

		<ng-container matColumnDef="lab">
			<th mat-header-cell *matHeaderCellDef> Lab</th>
			<td mat-cell *matCellDef="let proposal"> {{proposal.lab}}</td>
		</ng-container>
		<ng-container matColumnDef="mainProposer">
			<th mat-header-cell *matHeaderCellDef>Main proposer</th>
			<td mat-cell *matCellDef="let proposal">{{proposal.mainProposer.firstName}}
				{{proposal.mainProposer.lastName}}
			</td>
		</ng-container>
		<ng-container matColumnDef="submitted">
			<th mat-header-cell *matHeaderCellDef> Submitted</th>
			<td mat-cell *matCellDef="let proposal">
				<button mat-stroked-button disabled *ngIf="proposal.submitted">
					<mat-icon>done</mat-icon>
					Yes
				</button>
				<button mat-stroked-button disabled *ngIf="!proposal.submitted">
					<mat-icon>clear</mat-icon>
					No
				</button>
			</td>
		</ng-container>

		<ng-container matColumnDef="edit">
			<th mat-header-cell *matHeaderCellDef></th>
			<td mat-cell *matCellDef="let proposal">
				<button class="btn btn-sm btn-primary" [routerLink]="['/proposals/' + proposal.proposalId]">Edit</button>
			</td>
		</ng-container>
		<ng-container matColumnDef="delete">
			<th mat-header-cell *matHeaderCellDef></th>
			<td mat-cell *matCellDef="let proposal">
				<button class="btn btn-sm btn-danger" (click)="deleteProposal(proposal)">Delete</button>
			</td>
		</ng-container>

		<ng-container matColumnDef="download">
			<th mat-header-cell *matHeaderCellDef></th>
			<td mat-cell *matCellDef="let proposal">
				<a *ngIf="proposal.submitted" download class="btn btn-sm btn-success"
				   href="{{url}}/api/proposals/download/{{proposal.proposalId}}">
					<mat-icon>get_app</mat-icon>
					Download
				</a>			</td>
		</ng-container>

		<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
		<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
	</table>

</section>
