.example-fill-remaining-space {
	flex: 1 1 auto;
}

.footer {
	position: fixed;
	bottom: 0;
}

.navigation {
	display: flex; flex-wrap: wrap; justify-content: space-between; background-color: #0094CA;
}
.navigation-right a{
	color: white;
	font-family: 'Titillium Web', sans-serif;
	font-size: 1.5rem;
}

header {
	border-bottom: solid #0094CA 1px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 2rem;
}

.container{
	display: flex;
	flex-wrap: wrap;
}

aside{
	flex: 0.1;
}
aside a{
	width: 100%;
	display: block;
}
main{
	flex: 0.9;
}

@media screen and (max-width: 700px) {
	aside {
		width: 100%;
		height: auto;
		position: relative;
	}
	aside a {float: left;}

}

@media screen and (max-width: 400px) {
	aside a {
		text-align: center;
		float: none;
	}
}