<ng-container *ngIf="auth.loggedIn">
	<app-header></app-header>
	<app-sidebar class="sidebar"></app-sidebar>
	<div class="content">
		<router-outlet></router-outlet>
	</div>
</ng-container>


<div *ngIf="!auth.loggedIn" style="
background-image: url(../assets/media/blurred-lab-samples.jpg);
background-repeat: no-repeat;
background-size: cover;
background-origin: content-box;">
	<div class="container"
	     style="width: 100vw;
	     padding-top: 8rem;
	     height: 100vh;">
		<mat-card fxFlex style="max-width: 600px; margin: 0 auto;">
			<table>
				<tr>
					<td>
						<app-logo [color]="'#009EDD'" [height]="'114'" [width]="'210'"
						          [viewBox]="'0 0 105 57'"></app-logo>
					</td>
					<td class="title" style="padding-left: 1rem;">
						<h5 style="color: #009EDD;">DEMAX User portal</h5>
						<p class="" style="color: gray;">Deuteration and Macromolecular Crystallisation</p>
					</td>
				</tr>
			</table>
			<mat-card-content>
				<mat-tab-group dynamicHeight [(selectedIndex)]="selectedIndex">
					<mat-tab label="Register">
						<app-register (registered)='goToLogin($event)'></app-register>
					</mat-tab>
					<mat-tab label="Login">
						<app-login></app-login>
					</mat-tab>
				</mat-tab-group>
			</mat-card-content>
			<mat-card-footer>
				<app-message [message]="message.message"></app-message>
			</mat-card-footer>
		</mat-card>
	</div>
</div>


