nav {
	background-color: #0094CA;
	text-align: right;
	color: white;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 0 1rem;
}

header {
	padding: 2rem;
	background-color: white;
	display: flex;
	flex-wrap: wrap;
	justify-content: left;
	border-bottom: 1px solid #0094CA;
}

h2 {
	margin: auto 4rem;
	font-weight: normal;
	color: #0094CA;
}

.sidebar {
	margin: 0;
	padding: 0;
	width: 200px;
	background-color: white;
	position: fixed;
	height: 100%;
	overflow: auto;
	border-right: solid lightgray 1px;
}

.sidebar a {
	display: block;
	color: black;
	padding: 16px;
	text-decoration: none;
}

.sidebar a.active {
	background-color: white;
	color: black;
}

.sidebar a:hover:not(.active) {
	background-color: #0094CA;
	color: white;
}

div.content {
	margin-left: 200px;
	padding: 1px 16px;
	height: 1000px;
}

@media screen and (max-width: 700px) {
	.sidebar {
		width: 100%;
		height: auto;
		position: relative;
	}

	.sidebar a {float: left;}

	div.content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
	.sidebar a {
		text-align: center;
		float: none;
	}
}