<ng-container *ngIf="auth.loggedIn">
	<mat-toolbar *ngIf="auth.loggedIn" class="topnav">
	<span>
<a routerLink="/home" class="top-logo" style="background-color: #009EDD;">
	<h2>DEMAX User Portal</h2>
			</a>	</span>
		<span>
		<a *ngIf="auth.loggedIn" routerLink="/home">Welcome, {{auth.currentUser.firstName}} {{auth.currentUser.lastName}}</a>
	<a *ngIf="auth.loggedIn" style="margin: auto 2rem;" routerLink="/user">Settings</a>
	<a *ngIf="auth.loggedIn" style="margin: auto 2rem;" routerLink="/logout">Logout</a>
	</span>
	</mat-toolbar>
	<mat-sidenav-container class="example-container sidebar">
		<mat-sidenav #sidenav mode="side" opened class="example-sidenav" [fixedInViewport]="false"
		             fixedTopGap="0" fixedBottomGap="0">
			<a routerLink="/home">Home</a>
			<a routerLink="/proposals">Proposals</a>
			<a routerLink="/contact">Contact</a>
			<a href="http://localhost:8080/word/attachment">Proposal template</a>
			<a routerLink="/admin">Admin</a>
			<a routerLink="/proposal">Create new proposal</a>
		</mat-sidenav>

		<mat-sidenav-content>
			<router-outlet></router-outlet>
		</mat-sidenav-content>
	</mat-sidenav-container>
</ng-container>
