.jumbotron {
	padding: 3rem;
	background-color: white;
	width: 70%;
}

mat-form-field {
	margin: 1rem;
	width: 35%;
}

@media screen and (max-width: 700px) {
	mat-card {
		padding: 0;
		margin: 0;
	}

	.jumbotron {
		padding: 0;
		margin: 0;
	}

	mat-form-field {
		display: block;
		width: 100%;
		margin: 0;
	}
}

@media screen and (max-width: 700px) {
	mat-card {
		padding: 0;
		margin: 0;
	}

	.jumbotron {
		padding: 0;
		margin: 0;
	}

	mat-form-field {
		display: block;
		width: 100%;
		margin: 0;
	}
}