<section>
	<div class="card">
		<form [formGroup]="registerForm" (ngSubmit)="register()">
			<mat-form-field [ngClass]="setClassEmail()">
				<input matInput type="email" name="email" formControlName="email" placeholder="Email">
			</mat-form-field>
			<mat-form-field [ngClass]="setClassPassword()">
				<input matInput type="password" name="password" formControlName="password" placeholder="Password">
			</mat-form-field>
			<fieldset>
				<button mat-raised-button color="primary" type="submit">
					Register
				</button>
			</fieldset>

		</form>
	</div>
</section>