<mat-card>
	<div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar"
	     attr.aria-valuenow="{{progress.percentage}}"
	     aria-valuemin="0" aria-valuemax="100" [ngStyle]="{width:progress.percentage+'%'}">
		{{progress.percentage}}%
	</div>

	<form [formGroup]="uploadForm" (ngSubmit)="uploadSubmit()">
		<mat-card-content>

			<input formControlName="document"
			       type="file" ng2FileSelect
			       accept="application/pdf,application/vnd.ms-excel"
			       [uploader]="uploader"/>
			<br/>
			<br>
			<div class="drop-zone">
				<div ng2FileDrop [uploader]="uploader" class="drop-zone">
					Drag and drop files to upload
				</div>
			</div>
			<br>
			<button mat-raised-button color="primary"
			        class="mat-elevation-z5"
			        type="submit">Upload file
			</button>
		</mat-card-content>
	</form>
</mat-card>
