<div class="sidebar" id="sidebar">
	<a routerLink="/home">Home</a>
	<a style="color: gray; background-color: lightgray;">Create new proposal</a>
	<a routerLink="/proposals">My proposals</a>
	<a href="{{url}}/api/word/attachment">Proposal template</a>
	<a routerLink="/contact">Contact</a>
	<mat-divider></mat-divider>
	<a *ngIf="auth.isAdmin" routerLink="/admin/files">Files</a>
	<a *ngIf="auth.isAdmin" routerLink="/admin/proposals">Proposals</a>
	<a *ngIf="auth.isAdmin" routerLink="/admin/proposal-round">Proposal rounds</a>
	<a *ngIf="auth.isAdmin" routerLink="/admin/proposal-archive">Proposal archive</a>
	<a *ngIf="auth.isAdmin" routerLink="/admin/users">Users</a>
</div>
