<div *ngIf="proposal" class="row">
	<div class="col-md-12">
		<h2 *ngIf="proposal._id">Proposal Details</h2>
		<h2 *ngIf="!proposal._id">New Proposal</h2>
	</div>
</div>
<div *ngIf="proposal" class="row">
	<form class="col-md-12">
		<div class="form-group">
			<label for="proposal-experiment_title">Experiment title</label>
			<input class="form-control" id="proposal-experiment_title" name="proposal-experiment_title"
			       [(ngModel)]="proposal.experiment_title"
			       placeholder="Name"/>
		</div>
		<div class="form-group">
			<label for="proposal-brief_summary">Brief summary</label>
			<textarea class="form-control" id="proposal-brief_summary" name="proposal-brief_summary"
			          [(ngModel)]="proposal.brief_summary"
			          placeholder="Briefly describe your proposal"></textarea>
		</div>

		<div class="form-group">
			<label>Main proposer</label>
			<label for="proposal-proposer-firstname"></label>
			<input class="form-control" id="proposal-proposer-firstname" name="proposal-proposer-firstname"
			       [(ngModel)]="proposal.proposer.firstname"
			       placeholder="First name"/>
		</div>
		<div class="form-group">
			<label for="proposal-proposer-lastname"></label>
			<input class="form-control" id="proposal-proposer-lastname" name="proposal-proposer-lastname"
			       [(ngModel)]="proposal.proposer.lastname"
			       placeholder="Last name"/>
		</div>
		<div class="form-group">
			<label for="proposal-proposer-email"></label>
			<input class="form-control" id="proposal-proposer-email" name="proposal-proposer-email"
			       [(ngModel)]="proposal.proposer.email"
			       placeholder="Email"/>
		</div>
		<div class="form-group">
			<label for="proposal-proposer-phone"></label>
			<input class="form-control" id="proposal-proposer-phone" name="proposal-proposer-phone"
			       [(ngModel)]="proposal.proposer.phone"
			       placeholder="Phone"/>
		</div>
		<div class="form-group">
			<label for="proposal-proposer-affiliation-industry"></label>
			<input class="form-control" id="proposal-proposer-affiliation-industry"
			       name="proposal-proposer-affiliation-industry"
			       [(ngModel)]="proposal.proposer.affiliation.industry" placeholder="Industry"/>
		</div>
		<div class="form-group">
			<label for="proposal-proposer-affiliation-employer"></label>
			<input class="form-control" id="proposal-proposer-affiliation-employer"
			       name="proposal-proposer-affiliation-employer"
			       [(ngModel)]="proposal.proposer.affiliation.employer" placeholder="Employer name"/>
		</div>
		<div class="form-group">
			<label for="need_by_date.motivation"></label>
			<input class="form-control" id="need_by_date.motivation" name="need_by_date.motivation"
			       [(ngModel)]="proposal.need_by_date.motivation"
			       placeholder="Need by date"/>
		</div>
		<div class="form-group">
			<label for="need_by_date.document"></label>
			<app-upload id="need_by_date.document"></app-upload>
			<div class="form-group">
				<mat-form-field>
					<select matNativeControl required>
						<option value="DEMAX">DEMAX</option>
						<option value="PREMP">PREMP</option>
						<option value="FLUCO">FLUCO</option>
						<option value="SULF">SULF</option>
					</select>
				</mat-form-field>
			</div>
			<div class="form-group">
				<mat-checkbox>Crystallization</mat-checkbox>
				<mat-checkbox>Biomass</mat-checkbox>
				<mat-checkbox>Protein</mat-checkbox>
				<mat-checkbox>Chemical</mat-checkbox>
			</div>
			<button class="btn btn-primary" *ngIf="!proposal._id" (click)="createProposal(proposal)">Create</button>
			<button class="btn btn-info" *ngIf="proposal._id" (click)="updateProposal(proposal)">Update</button>
			<button class="btn btn-danger" *ngIf="proposal._id" (click)="deleteProposal(proposal._id)">Delete</button>
		</div>
	</form>

</div>
