<table class="table table-hover table-success">
	<thead>
	<tr>
		<th scope="col">Attachment type</th>
		<th scope="col">Uploaded file</th>
		<th scope="col"></th>
		<th scope="col"></th>
		<th scope="col"></th>
	</tr>
	</thead>

	<tbody *ngIf="!isLoading">
	<tr *ngFor="let file of fileUploads | async" class="file">
		<th scope="row">
			Type
		</th>
		<td>
			<a href="/api/admin/file/download/{{file}}">
			<img src="../../../assets/logos/pdf.png" width="50" alt="{{file}}">
			{{file}}
			</a>
		</td>


		<td>

		</td>
		<td>
			<a mat-stroked-button class="btn btn-success btn-sm" href="/api/admin/file/download/{{file}}">
				<mat-icon>get_app</mat-icon>
				Download</a>
		</td>
		<td>
			<button mat-stroked-button class="btn btn-danger btn-sm" (click)="delete(file)">
				<mat-icon>delete</mat-icon>
				Delete
			</button>
		</td>
	</tr>
	</tbody>

	<div *ngIf="isLoading" style="text-align: center;">
		<div class="lds-ripple">
			<div></div>
			<div></div>
		</div>
	</div>
</table>