<div class="card" style="width: 900px; margin: 0 auto;">
	<h4 class="card-header">About</h4>
	<div class="card-body">
		<div class="home-wrapper">
			<header>
				<h2>Welcome to the DEMAX user portal for deuteration & crystallization support!</h2>
			</header>
			<form>
				<fieldset>
					Users are strongly encouraged to contact DEMAX staff prior to preparing and submitting a
					deuteration/crystallization proposal. General enquiries can be sent to: demax@esss.se or to a
					<a href="/contacts"> subject matter experts</a>
				</fieldset>
				<fieldset>
					<ul>
						<li>
							Proposals should be written in English, properly referenced, and prepared in the
							<a href="http://localhost:8080/word/attachment">Word template</a>
							(click to
							download). Please keep to the 2 page limit, including Summary, Background (Science Case,
							Practical
							Consideration, References, Figures/Tables.
						</li>
						<li>
							Access to DEMAX is granted on the basis of both a technical and a peer-review process.

						</li>
						<li>
							Proposals awarded during initial operations (2019-2022) will be free of charge. During
							formal user
							operations
							(beyond 2023) we reserve the right to ask for partial financial contributions towards
							consumables &
							shipping
							costs.
						</li>
						<li>
							During initial operations we will not limit access to DEMAX based on ESS-membership. Beyond
							this
							period we
							will respect the user access policy that will be applicable ESS-wide.

						</li>
						<li>
							Biological and chemical deuteration proposals are run as a service but users for protein
							crystallization
							are
							welcome to come in person as well.

						</li>

					</ul>
				</fieldset>

				<fieldset>
					Users should note that the contributions by DEMAX should be acknowledged in any publications
					containing
					materials obtained from us. For particularly challenging projects that require above average
					involvement
					from
					DEMAX, relevant DEMAX staff should be acknowledged through co-authorship of any subsequent
					publications.
				</fieldset>

				<fieldset>
					<mat-checkbox>I accept the Terms and Conditions</mat-checkbox>
				</fieldset>
				<fieldset>
					<button mat-raised-button routerLink="/proposals">Create proposal</button>
				</fieldset>
			</form>


		</div>
	</div>
</div>