<h4>Total number of proposals: {{proposals.length}}</h4>
<table mat-table [dataSource]="proposals">

	<ng-container matColumnDef="proposalId">
		<th mat-header-cell *matHeaderCellDef> Proposal ID</th>
		<td mat-cell *matCellDef="let proposal"> {{proposal.proposalId}}</td>
	</ng-container>

	<ng-container matColumnDef="experimentTitle">
		<th mat-header-cell *matHeaderCellDef> Experiment title</th>
		<td mat-cell *matCellDef="let proposal"> {{proposal.experimentTitle}}</td>
	</ng-container>

	<ng-container matColumnDef="options">
		<th mat-header-cell *matHeaderCellDef> Options</th>
		<td mat-cell *matCellDef="let proposal">
			<a href="/api/pdf/{{proposal.proposalId}}">
				<button class="btn btn-sm btn-success">
					Download
				</button>
			</a>
			<button class="btn btn-sm btn-danger" (click)="deleteProposal(proposal)">
				Delete
			</button>
		</td>
	</ng-container>

	<tr mat-header-row *matHeaderRowDef="displayedProposalColumns"></tr>
	<tr mat-row *matRowDef="let row; columns: displayedProposalColumns;"></tr>
</table>