<mat-card>
	<mat-card-header>
		<mat-card-title>
			Current proposals
		</mat-card-title>
		<mat-card-subtitle>
			Total: {{proposals.length}}
		</mat-card-subtitle>
	</mat-card-header>
	<mat-card-content>
		<table mat-table [dataSource]="proposals" class="table table-sm">

			<ng-container matColumnDef="proposalId">
				<th mat-header-cell *matHeaderCellDef> Proposal ID</th>
				<td mat-cell *matCellDef="let proposal"> {{proposal.proposalId}}</td>
			</ng-container>

			<ng-container matColumnDef="experimentTitle">
				<th mat-header-cell *matHeaderCellDef> Experiment title</th>
				<td mat-cell *matCellDef="let proposal"> {{proposal.experimentTitle}}</td>
			</ng-container>
			<ng-container matColumnDef="categories">
				<th mat-header-cell *matHeaderCellDef> Categories</th>
				<td mat-cell *matCellDef="let proposal">
					<table class="categories">
						<tr>
							<td *ngIf="proposal.wantsCrystallization">A</td>
							<td *ngIf="proposal.wantsBiologicalDeuteration">B
								<small *ngIf="proposal.wantsBiomassDeuteration">  -Biomass</small>
								<small *ngIf="proposal.wantsProteinDeuteration">  -Proteins</small>
								<small *ngIf="proposal.wantsYeastDeuteration">  -Yeast</small>
							</td>
							<td *ngIf="proposal.wantsChemicalDeuteration">C</td>
							<td *ngIf="proposal.wantsOtherDeuteration">Other</td>
						</tr>
					</table>
			</ng-container>
			<ng-container matColumnDef="dateCreated">
				<th mat-header-cell *matHeaderCellDef> Creation date</th>
				<td mat-cell *matCellDef="let proposal">{{proposal.dateCreated | slice:0:10}}</td>
			</ng-container>
			<ng-container matColumnDef="mainProposer">
				<th mat-header-cell *matHeaderCellDef> Main proposer</th>
				<td mat-cell *matCellDef="let proposal"> {{proposal.mainProposer.firstName}} {{proposal.mainProposer.lastName}}</td>
			</ng-container>
			<ng-container matColumnDef="submitted">
				<th mat-header-cell *matHeaderCellDef>Submitted</th>
				<td mat-cell *matCellDef="let proposal">
					<button mat-stroked-button disabled *ngIf="proposal.submitted">
						<mat-icon>done</mat-icon> Yes
					</button>
					<a *ngIf="proposal.submitted" download class="btn btn-success btn-sm" href="{{url}}/api/proposals/download/{{proposal.proposalId}}">
						Download
					</a>
					<button mat-stroked-button disabled *ngIf="!proposal.submitted">
						<mat-icon>clear</mat-icon> No
					</button>
				</td>
			</ng-container>
			<ng-container matColumnDef="options">
				<th mat-header-cell *matHeaderCellDef> Options</th>
				<td mat-cell *matCellDef="let proposal">
					<button class="btn btn-primary btn-sm" [routerLink]="['/proposals/' + proposal.proposalId]">Edit</button>
					<button class="btn btn-danger btn-sm" (click)="deleteProposal(proposal)">Delete</button>

				</td>
			</ng-container>

			<tr mat-header-row *matHeaderRowDef="displayedProposalColumns"></tr>
			<tr mat-row *matRowDef="let row; columns: displayedProposalColumns;"></tr>
		</table>
	</mat-card-content>
</mat-card>
