<nav class="navbar navbar-expand-md navbar-light bg-white">
	<a class="navbar-brand" href="#">Displaying {{proposals.length}} proposals</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04"
	        aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarsExample04">
		<ul class="navbar-nav mr-auto">
			<!--<li class="nav-item">
				<a class="nav-link" href="#">Statistics</a>
			</li>
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown04" data-toggle="dropdown"
				   aria-haspopup="true" aria-expanded="false">Archive</a>
				<div class="dropdown-menu" aria-labelledby="dropdown04">
					<a class="dropdown-item" href="#">2019 I</a>
					<a class="dropdown-item" href="#">2019 II</a>
						<a class="dropdown-item" href="#">2020 III</a>
				</div>
			</li>-->
		</ul>
		<form class="form-inline my-2 my-md-0" [formGroup]="dateQuery">
			<mat-form-field style="padding: 0;">
				<input matInput
				       formControlName="startDate"
				       required
				       [matDatepicker]="picker"
				       placeholder="From">
				<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
				<mat-datepicker #picker></mat-datepicker>
			</mat-form-field>
			<mat-form-field style="padding: 0;">
				<input matInput
				       formControlName="endDate"
				       required
				       [matDatepicker]="picker2"
				       placeholder="To">
				<mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
				<mat-datepicker #picker2></mat-datepicker>
			</mat-form-field>
			<button mat-raised-button color="primary" (click)="getProposalsByDate()" [disabled]="dateQuery.invalid">Update</button>
			<input class="form-control" type="text" placeholder="Search" disabled>
		</form>
	</div>
</nav>

<table mat-table [dataSource]="proposals" class="table table-sm" *ngIf="!isLoading">
	<ng-container matColumnDef="proposalId">
		<th mat-header-cell *matHeaderCellDef> Proposal ID</th>
		<td mat-cell *matCellDef="let proposal"> {{proposal.proposalId}}</td>
	</ng-container>

	<ng-container matColumnDef="experimentTitle">
		<th mat-header-cell *matHeaderCellDef> Experiment title</th>
		<td mat-cell *matCellDef="let proposal"> {{proposal.experimentTitle}}</td>
	</ng-container>
	<ng-container matColumnDef="categories">
		<th mat-header-cell *matHeaderCellDef> Categories</th>
		<td mat-cell *matCellDef="let proposal">
			<div *ngIf="proposal.wantsCrystallization">Crystallization<br></div>
			<div *ngIf="proposal.wantsBiologicalDeuteration">
				Biological deuteration<br>
				<span class="badge badge-primary"
				      *ngIf="proposal.wantsBiomassDeuteration"> for biomass<br></span>
				<span class="badge badge-primary"
				      *ngIf="proposal.wantsProteinDeuteration"> for proteins<br></span>
				<span class="badge badge-primary" *ngIf="proposal.wantsYeastDeuteration"> for yeast<br></span>
				<span class="badge badge-primary" *ngIf="proposal.wantsOtherDeuteration"> (other)<br></span>
			</div>
			<div *ngIf="proposal.wantsChemicalDeuteration">Chemical deuteration</div>
		</td>
	</ng-container>
	<ng-container matColumnDef="dateCreated">
		<th mat-header-cell *matHeaderCellDef> Created</th>
		<td mat-cell *matCellDef="let proposal">{{proposal.dateCreated | slice:0:10}}</td>
	</ng-container>
	<ng-container matColumnDef="mainProposer">
		<th mat-header-cell *matHeaderCellDef> Main proposer</th>
		<td mat-cell *matCellDef="let proposal"> {{proposal.mainProposer.firstName}}
			{{proposal.mainProposer.lastName}}
		</td>
	</ng-container>
	<ng-container matColumnDef="submitted">
		<th mat-header-cell *matHeaderCellDef></th>
		<td mat-cell *matCellDef="let proposal">
			<button mat-stroked-button disabled *ngIf="proposal.submitted">
				<mat-icon>done</mat-icon>
				Submitted
			</button>
			<button mat-stroked-button disabled *ngIf="!proposal.submitted">
				<mat-icon>clear</mat-icon>
				Not submitted
			</button>
		</td>
	</ng-container>
	<ng-container matColumnDef="download">
		<th mat-header-cell *matHeaderCellDef></th>
		<td mat-cell *matCellDef="let proposal">
			<a *ngIf="proposal.submitted" download class="btn btn-success btn-sm"
			   href="{{url}}/api/proposals/download/{{proposal.proposalId}}">
				Download
			</a>
		</td>
	</ng-container>
	<ng-container matColumnDef="edit">
		<th mat-header-cell *matHeaderCellDef></th>
		<td mat-cell *matCellDef="let proposal">
			<button class="btn btn-primary btn-sm" [routerLink]="['/proposals/' + proposal.proposalId]">Edit
			</button>
		</td>
	</ng-container>

	<ng-container matColumnDef="review">
		<th mat-header-cell *matHeaderCellDef></th>
		<td mat-cell *matCellDef="let proposal">
			<button class="btn btn-warning btn-sm"
			        [routerLink]="['/proposals/comments/' + proposal.proposalId]">Review
			</button>
		</td>
	</ng-container>

	<tr mat-header-row *matHeaderRowDef="displayedProposalColumns"></tr>
	<tr mat-row *matRowDef="let row; columns: displayedProposalColumns;"></tr>
</table>
<mat-card *ngIf="isLoading">
	<mat-card-header>
		<mat-card-subtitle>Loading proposals...</mat-card-subtitle>
	</mat-card-header>
	<div class="lds-roller">
		<div></div>
		<div></div>
		<div></div>
		<div></div>
		<div></div>
		<div></div>
		<div></div>
		<div></div>
	</div>
</mat-card>
