<mat-card *ngIf="!hasReadTos">
	<mat-card-header>
		<mat-card-title>Proposal guidelines</mat-card-title>
	</mat-card-header>
	<mat-card-content>
		<p>Users are strongly encouraged to contact DEMAX staff prior to preparing and submitting a
			deuteration/crystallization proposal.</p>
		<p>General enquiries can be sent to: <a href="mailto:demax@esss.se">demax@esss.se</a> or to one of the<a
				routerLink="/contact"> subject matter experts.</a></p>
		<ul>
			<li>Proposals should be written in English, properly referenced, and prepared in the <a download href="/word/attachment">Word template.</a> Please keep to the 2 page
				limit, including Summary, Background (Science Case, Practical Consideration, References,
				Figures/Tables)
			</li>
			<li> Access to DEMAX is granted on the basis of both a technical and a peer-review process.</li>
			<li> Proposals awarded during initial operations (2019-2022) will be free of charge. During formal
				user operations (beyond 2023) we reserve the right to ask for partial financial contributions
				towards consumables & shipping costs.
			</li>
			<li> During initial operations we will not limit access to DEMAX based on ESS-membership. Beyond
				this period we will respect the user access policy that will be applicable ESS-wide.
			</li>
			<li> Biological and chemical deuteration proposals are run as a service but users for protein
				crystallization are welcome to come in person as well.
			</li>
			<li>Proposals awarded during initial operations (2019-2021) will be free of charge. During formal
				user operations (beyond 2023) we reserve the right to ask for partial financial contributions
				towards consumables & shipping costs. Options
			</li>
			<p>*<em>Users should note that the contributions by DEMAX should be acknowledged in any publications
				containing materials obtained from us. For particularly challenging projects that require above
				average involvement from DEMAX, relevant DEMAX staff should be acknowledged through
				co-authorship of any subsequent publications.</em></p>
		</ul>
		<mat-card-actions>
			<mat-checkbox style="margin: 2rem;">I acknowledge the information above</mat-checkbox>
		</mat-card-actions>
		<mat-card-footer>
			<button mat-raised-button color="primary" (click)="confirm()">Create new proposal</button>
		</mat-card-footer>
	</mat-card-content>
</mat-card>
<form [formGroup]="proposalForm">
	<mat-tab-group *ngIf="hasReadTos">
		<mat-tab label="1. General information">
			<mat-card>

				<mat-form-field>
					<input matInput
					       formControlName="experimentTitle"
					       placeholder="Experiment title">
				</mat-form-field>
				<mat-form-field>
					<textarea matInput
					          formControlName="briefSummary"
					          placeholder="Brief summary"
					rows="4" cols="40"></textarea>
				</mat-form-field>

					<h4>Main proposer</h4>

				<div formGroupName="mainProposer">
					<mat-form-field class="smallFormField">
						<input matInput
						       formControlName="firstName"
						       placeholder="First name">
					</mat-form-field>
					<mat-form-field class="smallFormField">
						<input matInput
						       formControlName="lastName"
						       placeholder="Last name">
					</mat-form-field>
					<br>
					<mat-form-field class="smallFormField">
						<input matInput
						       formControlName="email"
						       placeholder="Email">
					</mat-form-field>
					<mat-form-field class="smallFormField">
						<input matInput
						       formControlName="phone"
						       placeholder="Phone">
					</mat-form-field>

					<p>Affiliation</p>
					<div>
						<mat-form-field class="smallFormField">
							<input matInput
							       formControlName="title"
							       placeholder="Job title">
						</mat-form-field>
						<mat-form-field class="smallFormField">
							<input matInput
							       formControlName="employer"
							       placeholder="Employer">
						</mat-form-field>
						<mat-form-field>
							<input matInput
							       formControlName="sector"
							       placeholder="Sector">
						</mat-form-field>
					</div>
				</div>

				<div formArrayName="coProposers">
					<h4>Co-proposers</h4>
					<div *ngFor="let coProposer of coProposerForms.controls; let i=index" [formGroupName]="i">
						<mat-form-field class="smallFormField">
							<input matInput formControlName="firstName" placeholder="First name">
						</mat-form-field>
						<mat-form-field class="smallFormField">
							<input matInput formControlName="lastName" placeholder="Last name">
						</mat-form-field>
						<button mat-raised-button color="warn" (click)="deleteCoProposer(i)">Delete</button>
					</div>
					<mat-action-row>
						<button mat-raised-button color="primary" (click)="addCoProposer()">Add Co-Proposer
						</button>
					</mat-action-row>
				</div>

				<mat-radio-group
						formControlName="linksWithIndustry">
					<p>Links with industry</p>
					<mat-radio-button value="yes">Yes</mat-radio-button>
					<mat-radio-button value="no">No</mat-radio-button>
				</mat-radio-group>
				<mat-radio-group formControlName="coProposerStudents">
					<p>Are any of the co-proposers students?</p>
					<mat-radio-button value="yes">Yes</mat-radio-button>
					<mat-radio-button value="no">No</mat-radio-button>
				</mat-radio-group>
				<mat-radio-group formControlName="workTowardsStudentsDegree">
					<p>Does the proposal work towards a students degree?</p>
					<mat-radio-button value="yes">Yes</mat-radio-button>
					<mat-radio-button value="no">No</mat-radio-button>
				</mat-radio-group>

				<h4>Final delivery date</h4>
				<mat-form-field>
					<input matInput
					       formControlName="needByDate"
					       [matDatepicker]="picker"
					       placeholder="Choose a date">
					<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
					<mat-datepicker #picker></mat-datepicker>
				</mat-form-field>
				<mat-form-field>
					<p>Please motivate the chosen date<br><em>
						<small>(e.g. based on awarded beamtime, or described intention to apply)</small>
					</em></p>
					<textarea matInput
					          formControlName="needByDateMotivation"
					          rows="4" cols="40"></textarea>
				</mat-form-field>
				<p>Attach a copy of the beamtime proposal, draft or intended submission:<br><strong
						style="color: red;">Accepted formats: PDF</strong></p>
				<label class="btn btn-default">
					<input name="needByDateAttachment"
					       style="width: 100%;"
					       type="file"
					       (change)="selectFile($event)">
				</label>
				<mat-form-field>
					<p>If there is anything else you would like us to know, please enter it below:</p>
					<textarea matInput
					          formControlName="other"
					          rows="4" cols="40"></textarea>
				</mat-form-field>
				<p>In the next sections you will fill out the applicable area of support your proposal requires.<br>Select
					one, or as many as apply, from the alternatives below.</p>

				<mat-checkbox formControlName="wantsCrystallization">
					Crystallization
				</mat-checkbox>
				<mat-checkbox formControlName="wantsBiologicalDeuteration">Biological deuteration
				</mat-checkbox>
				<mat-checkbox formControlName="wantsChemicalDeuteration">Chemical deuteration
				</mat-checkbox>

				<mat-action-row>
					<button mat-button color="primary" (click)="addProposal()">Save</button>
					<button mat-button class="btn btn-danger" routerLink="/home">Cancel</button>
					<button mat-button class="btn btn-primary" (click)="selectTab(2)">Next</button>
				</mat-action-row>
			</mat-card>
		</mat-tab>
		<mat-tab label="2. Crystallization" [disabled]="!proposal.wantsCrystallization">
			<mat-card>

				<div formGroupName="crystallization">

					<mat-form-field>
						<input matInput formControlName="moleculeName"
						       placeholder="Name of molecule to be crystallized (e.g. superoxide dismutase)">
					</mat-form-field>
					<mat-form-field>
						<input matInput placeholder="FASTA sequence or Uniprot number"
						       formControlName="moleculeIdentifier">
					</mat-form-field>
					<mat-form-field>
						<input matInput placeholder="Oligomerizarion state?" formControlName="oligomerizationState">
						<mat-hint>(e.g. homodimer, tetramer etc.)</mat-hint>
					</mat-form-field>
					<mat-form-field>
						<input matInput placeholder="PDB ID of crystal structure" formControlName="pbdId">
					</mat-form-field>
					<mat-form-field>
						<input matInput placeholder="If open access, please provide a primary reference DOI" type="text"
						       formControlName="doi">
					</mat-form-field>
					<fieldset>
						<mat-label>If the reference isn't publicly available, please upload a copy here</mat-label>
						<p>(Accepted formats: PDF)</p>
						<label class="btn btn-default">
							<input type="file" (change)="selectFile($event)"></label>
					</fieldset>
					<mat-form-field>
					<textarea
							placeholder="Does the protein have any co-factors or ligands required for crystallization? Specify:"
							rows="6" cols="40" matInput formControlName="crystallizationRequirements"></textarea>
					</mat-form-field>
					<mat-form-field>
					<textarea
							placeholder="Known crystallization precipitant composition (incl. buffer, salt, additives, pH)"
							rows="6" cols="40" matInput
							formControlName="crystallizationPrecipitantComposition"></textarea>
					</mat-form-field>
					<mat-form-field>
					<textarea
							placeholder="What crystallization method, volume, and temperature have you used in the past?(e.g.vapour diffusion, 10 &#181;L drops, room temperature)"
							rows="8" cols="60" matInput formControlName="previousCrystallizationExperience"></textarea>
					</mat-form-field>
					<mat-form-field>
						<input placeholder="How long do your crystals take to appear?" matInput
						       formControlName="estimatedCrystallizationProductionTime">
					</mat-form-field>
					<mat-form-field>
						<input placeholder="What is the typical size of your crystal (&#181;m x &#181;m x &#181;m)"
						       matInput
						       formControlName="typicalCrystalSize">
					</mat-form-field>
					<mat-divider></mat-divider>
					<h4>Details from protein preparation</h4>
					<mat-form-field>
						<input placeholder="Typical yield (mg per liter of culture)" matInput
						       formControlName="typicalYieldMgPerLiter">
					</mat-form-field>
					<mat-form-field>
						<input placeholder="Storage conditions (e.g. stable at 4 &#176;C or frozen at -20 &#176;C)"
						       matInput
						       formControlName="storageConditions">
					</mat-form-field>
					<mat-form-field>
						<input placeholder="Stability" matInput formControlName="stability">
					</mat-form-field>
					<mat-form-field>
						<input placeholder="What buffer is your protein in?" matInput formControlName="buffer">
					</mat-form-field>
					<mat-form-field>
						<input placeholder="Is your protein partially or fully deuterated?" matInput
						       formControlName="levelOfDeuteration">
					</mat-form-field>
					<mat-form-field>
						<input placeholder="What protein concentration do you usually use for crystallization:" matInput
						       formControlName="typicalProteinConcentrationUsed">
					</mat-form-field>
					<mat-action-row>
						<button mat-button class="btn btn-danger" (click)="selectTab(2)">Skip</button>
						<button mat-button class="btn btn-danger" (click)="selectTab(0)">Back</button>
						<button mat-button class="btn btn-primary" (click)="selectTab(2)">Next</button>
						<button mat-raised-button color="primary" type="submit">Save</button>
					</mat-action-row>
				</div>
			</mat-card>
		</mat-tab>
		<mat-tab label="3. Biological deuteration" [disabled]="!proposal.wantsBiologicalDeuteration">
			<mat-card>
				<div style="padding: 3rem;">
				<p><em>If the protein is to be purified by us, please remember to include a chromatogram from
					purification <br>and a picture of SDS-PAGE that indicates MW and purity in your science
					case.</em></p>
				<fieldset>
					<p>Select (E. coli, yeast)</p>
					<mat-checkbox>Protein</mat-checkbox>
					<mat-checkbox>Biomass</mat-checkbox>
					<mat-checkbox>Other</mat-checkbox>
				</fieldset>
			</div>
			<mat-accordion class="example-headers-align">
				<div formGroupName="biomassDeuteration">
					<mat-expansion-panel>
						<mat-expansion-panel-header>For biomass</mat-expansion-panel-header>
						<fieldset>
							<p> Will user provide the organism for us to grow under deuterated conditions?</p>
							<mat-radio-group formControlName="organismProvidedByUser">
								<mat-radio-button value="yes">Yes</mat-radio-button>
								<mat-radio-button value="no">No</mat-radio-button>
							</mat-radio-group>
						</fieldset>
						<mat-form-field>
							<p>What is the organism?</p>
							<textarea rows="8" cols="40" matInput
							          formControlName="organismDetails"></textarea>
						</mat-form-field>
						<fieldset>
							<mat-label>Please attach a reference or protocol of culture conditions and media
								composition
							</mat-label>
							<br>
							<p><em>(Accepted formats: PDF)</em></p>
							<label class="btn btn-default">
								<input type="file" name="organismReferenceAttachment" (change)="selectFile($event)">
							</label>

						</fieldset>
						<mat-form-field>
							<p> How much material do you need?</p>
							<textarea rows="8" cols="40" matInput formControlName="amountNeeded"></textarea>
						</mat-form-field>
						<mat-form-field>
							<p> Indicate wet or dry mass:</p>
							<textarea rows="8" cols="40" matInput formControlName="stateOfMaterial"></textarea>
						</mat-form-field>
						<mat-form-field>
							<p> Justify amount:</p>
							<textarea rows="8" cols="40" matInput
							          formControlName="amountOfMaterialMotivation"></textarea>
						</mat-form-field>
						<mat-radio-group formControlName="deuterationLevelRequired">
							<p> Level of deuteration required:</p>
							<mat-radio-button value="partial">Partial (65-80% with unlabeled carbon source)
							</mat-radio-button>
							<mat-radio-button value="full">Full (~99% with labeled carbon source)
							</mat-radio-button>
						</mat-radio-group>
						<mat-form-field>
							<p> Justify level of D incorporation:</p>
							<textarea rows="8" cols="40" matInput
							          formControlName="deuterationLevelMotivation"></textarea>
						</mat-form-field>
						<mat-action-row>
							<button mat-raised-button color="primary" type="submit">Save</button>
						</mat-action-row>
					</mat-expansion-panel>
					<mat-expansion-panel>
						<mat-expansion-panel-header>
							<mat-panel-title>For proteins</mat-panel-title>
						</mat-expansion-panel-header>
					</mat-expansion-panel>

					<mat-action-row>
						<button mat-button class="btn btn-danger" (click)="selectTab(3)">Skip</button>
						<button mat-button class="btn btn-danger" (click)="selectTab(1)">Back</button>
						<button mat-button class="btn btn-primary" (click)="selectTab(3)">Next</button>
						<button mat-raised-button color="primary" type="submit">Save</button>
					</mat-action-row>


				</div>
				<div formGroupName="proteinDeuteration"></div>
			</mat-accordion>
			<div formGroupName="bioSafety"></div>
			</mat-card>

		</mat-tab>
		<mat-tab label="4. Chemical deuteration" [disabled]="!proposal.wantsChemicalDeuteration">
			<mat-card>
				<div formGroupName="chemicalDeuteration">
					<mat-card>

						<mat-form-field>
							<input placeholder="Molecule/s to be deuterated (name)" rows="8" cols="40" matInput
							       formControlName="moleculeName">
						</mat-form-field>
						<mat-form-field>
							<input placeholder="Amount of material required (mass)" rows="8" cols="40" matInput
							       formControlName="amount">
						</mat-form-field>
						<mat-form-field>
					<textarea placeholder="Justify amount" rows="6" cols="40" matInput
					          formControlName="amountMotivation"></textarea>
						</mat-form-field>
						<mat-form-field>
							<input placeholder="Indicate percentage and location of deuteration" rows="8" cols="40" matInput
							       formControlName="deuterationLocationAndPercentage">
						</mat-form-field>
						<mat-form-field>
					<textarea placeholder="Justify level of deuteration" rows="5" cols="40" matInput
					          formControlName="deuterationLevelMotivation"></textarea>
						</mat-form-field>
						<fieldset>
							<mat-label>Attach chemical structure</mat-label>
							<br>
							<p><em>(Accepted formats: PDF)</em></p>
							<label class="btn btn-default">
								<input type="file" name="chemicalStructureAttachment" (change)="selectFile($event)">
							</label>
						</fieldset>
						<br>
						<mat-radio-group
								formControlName="hasPreparedMolecule">
							<p>Has this molecule (or an unlabeled/isotopic analogue) been prepared by yourself or others?</p>
							<mat-radio-button value="yes">Yes</mat-radio-button>
							<mat-radio-button value="no">No</mat-radio-button>
						</mat-radio-group>
						<fieldset>
							<mat-label> If “yes”, please provide protocol (attach a reference if published)</mat-label>
							<br>
							<p><em>(Accepted formats: PDF)</em></p>
							<label class="btn btn-default">
								<input type="file" name="moleculePreparationReferenceArticle" (change)="selectFile($event)">
							</label>
						</fieldset>
						<mat-form-field>
							<p>Is there anything else you would like to add?</p>
							<input rows="8" cols="40" matInput
							       formControlName="other">
						</mat-form-field>
						<mat-action-row>
							<button mat-button class="btn btn-danger" (click)="selectTab(4)">Skip</button>
							<button mat-button class="btn btn-danger" (click)="selectTab(2)">Back</button>
							<button mat-button class="btn btn-primary" (click)="selectTab(4)">Next</button>
							<button mat-raised-button color="primary" type="submit">Save</button>
						</mat-action-row>
					</mat-card>
				</div>
			</mat-card>
		</mat-tab>
		<mat-tab label="5. Review and submit">
			<mat-card><br>
				<fieldset>
					<mat-label>Upload your proposal here</mat-label>
					<br>
					<p><em>(Accepted formats: PDF)</em></p>
					<label class="btn btn-default">
						<input type="file" name="proposalTemplate" (change)="selectFile($event)">
					</label>
				</fieldset>
				<br>
				<fieldset>
					<h4>Attachments</h4>
					<table>
						<thead>
						<td><h5>Document type</h5></td>
						<td><h5>Filename</h5></td>
						<td><h5>Upload new</h5></td>
						</thead>
						<tr>
							<td>Proposal template</td>
							<td>{{proposal.proposalTemplate}}</td>
							<td>
								<label class="btn btn-default">
									<input type="file" name="proposalTemplate" (change)="selectFile($event)">
								</label></td>
						</tr>
						<tr>
							<td>Need-by-date attachment</td>
							<td>{{proposal.needByDateAttachment}}</td>
							<td>
								<label class="btn btn-default">
									<input type="file" name="needByDateAttachment" (change)="selectFile($event)">
								</label>
							</td>
						</tr>
						<tr>
							<td>PBD Id reference</td>
							<td>{{proposal.pbdIdReferenceAttachment}}</td>
							<td>
								<label class="btn btn-default">
									<input type="file" name="pbdIdReferenceAttachment"
									       (change)="selectFile($event)"></label>

							</td>
						</tr>
						<tr>
							<td>Organism reference attachment</td>
							<td>{{proposal.organismReferenceAttachment}}</td>
							<td>
								<label class="btn btn-default">
									<input type="file" name="organismReferenceAttachment" (change)="selectFile($event)">
								</label>
							</td>
						</tr>
						<tr>
							<td>Protein purification attachment</td>
							<td>{{proposal.needsPurificationSupportAttachment}}</td>
							<td>
								<label class="btn btn-default">
									<input type="file" name="needsPurificationSupportAttachment"
									       (change)="selectFile($event)">
								</label>
							</td>
						</tr>
						<tr>
							<td>Chemical structure attachment</td>
							<td>{{proposal.chemicalStructureAttachment}}</td>
							<td>
								<label class="btn btn-default">
									<input type="file" name="chemicalStructureAttachment" (change)="selectFile($event)">
								</label>
							</td>
						</tr>
						<tr>
							<td>Molecule preparation protocol</td>
							<td>{{proposal.moleculePreparationReferenceArticle}}</td>
							<td>
								<label class="btn btn-default">
									<input type="file" name="moleculePreparationReferenceArticle"
									       (change)="selectFile($event)">
								</label>
							</td>
						</tr>
						<tr>
							<td>Generated proposal</td>
							<td>{{proposal.generatedProposal}}</td>
							<td>

							</td>
						</tr>
					</table>
				</fieldset>


				<fieldset>
					<a download
					   color="warn"
					   href="/api/pdf/{{proposal.proposalId}}">
						Generate Deuteration proposal</a>
				</fieldset>
				<br>
				<fieldset>
					<a download
					   color="warn"
					   class="btn btn-danger"
					   href="/api/pdf/merge/{{proposal.proposalId}}">Merge attachments with proposal</a>
				</fieldset>
				<br>
				<mat-action-row>
					<button mat-button (click)="selectTab(3)">Go back</button>
					<button mat-raised-button color="primary" type="submit">Submit</button>
				</mat-action-row></mat-card>
		</mat-tab>
	</mat-tab-group>
</form>
