.jumbotron {
	padding: 3rem;
	background-color: white;
}
.jumbotron ul{
	width: 70%;
}

mat-card {
	padding: 5rem;
}
mat-action-row{
	display: flex;
	justify-content: center;
}
.fileUpload{
	border-bottom: solid 1px lightgray;
	width: 60%;
	margin: 1rem;
}
fieldset{
	display: block;
	margin: 2rem;
}
mat-form-field{
	width: 60%;
	margin: 1rem auto;
}
.smallFormField{
	width: 300px;
}

mat-radio-group{
	display: block;
	margin: 1rem;
}
mat-radio-button{
	margin: 1rem;
}
mat-checkbox{
	display: block;
	padding: 1rem;
}

button{
	margin: 1em;
}

table {
	width: 100%;
}

label{
	width: 100px;
	margin: 0.5rem;
	display: block;
	border-radius: 0.2rem;
	text-align: left;
	padding: 0.5rem;
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputfile + label {
	font-size: 1.5rem;
	font-family: "Titillium Web", sans-serif;
	border: solid indianred 1px;
	color: white;
	background-color: red;
	display: inline-block;
}

.inputfile:focus + label,
.inputfile + label:hover {
	background-color: white;
	color: red;
}

.inputfile + label {
	cursor: pointer;
}