<mat-card *ngIf="!hasReadTos">
		<h4>Proposal guidelines</h4>
		<p>Users are strongly encouraged to contact DEMAX staff prior to preparing and submitting a
			deuteration/crystallization proposal.</p>
		<p>General enquiries can be sent to: <a href="mailto:demax@esss.se">demax@esss.se</a> or to one of the<a
				routerLink="/contact"> subject matter experts.</a></p>
		<ul>
			<li>Proposals should be written in English, properly referenced, and prepared in the <a download href="/word/attachment">Word template.</a> Please keep to the 2 page
				limit, including Summary, Background (Science Case, Practical Consideration, References,
				Figures/Tables)
			</li>
			<li> Access to DEMAX is granted on the basis of both a technical and a peer-review process.</li>
			<li> Proposals awarded during initial operations (2019-2022) will be free of charge. During formal
				user operations (beyond 2023) we reserve the right to ask for partial financial contributions
				towards consumables & shipping costs.
			</li>
			<li> During initial operations we will not limit access to DEMAX based on ESS-membership. Beyond
				this period we will respect the user access policy that will be applicable ESS-wide.
			</li>
			<li> Biological and chemical deuteration proposals are run as a service but users for protein
				crystallization are welcome to come in person as well.
			</li>
			<li>Proposals awarded during initial operations (2019-2021) will be free of charge. During formal
				user operations (beyond 2023) we reserve the right to ask for partial financial contributions
				towards consumables & shipping costs. Options
			</li>
			<p>*<em>Users should note that the contributions by DEMAX should be acknowledged in any publications
				containing materials obtained from us. For particularly challenging projects that require above
				average involvement from DEMAX, relevant DEMAX staff should be acknowledged through
				co-authorship of any subsequent publications.</em></p>
		</ul>
		<mat-card-actions>
			<mat-checkbox style="margin: 2rem;">I acknowledge the information above</mat-checkbox>
		</mat-card-actions>
		<mat-card-footer>
			<button mat-raised-button color="primary" (click)="confirm()">Create new proposal</button>
		</mat-card-footer>
</mat-card>
<form [formGroup]="proposalForm">
	<mat-tab-group *ngIf="hasReadTos">
		<mat-tab label="1. General information">
			<mat-card>

				<mat-form-field>
					<input matInput
					       formControlName="experimentTitle"
					       placeholder="Experiment title">
				</mat-form-field>
				<mat-form-field>
					<textarea matInput
					          formControlName="briefSummary"
					          placeholder="Brief summary"
					rows="4" cols="40"></textarea>
				</mat-form-field>

					<h4>Main proposer</h4>

				<div formGroupName="mainProposer">
					<mat-form-field class="smallFormField">
						<input matInput
						       formControlName="firstName"
						       placeholder="First name">
					</mat-form-field>
					<mat-form-field class="smallFormField">
						<input matInput
						       formControlName="lastName"
						       placeholder="Last name">
					</mat-form-field>
					<br>
					<mat-form-field class="smallFormField">
						<input matInput
						       formControlName="email"
						       placeholder="Email">
					</mat-form-field>
					<mat-form-field class="smallFormField">
						<input matInput
						       formControlName="phone"
						       placeholder="Phone">
					</mat-form-field>

					<p>Affiliation</p>
					<div>
						<mat-form-field class="smallFormField">
							<input matInput
							       formControlName="jobTitle"
							       placeholder="Job title">
						</mat-form-field>
						<mat-form-field class="smallFormField">
							<input matInput
							       formControlName="employer"
							       placeholder="Employer">
						</mat-form-field>
						<mat-form-field>
							<input matInput
							       formControlName="industry"
							       placeholder="Industry">
						</mat-form-field>
					</div>
				</div>

				<div formArrayName="coProposers">
					<h4>Co-proposers</h4>
					<div *ngFor="let coProposer of coProposerForms.controls; let i=index" [formGroupName]="i">
						<mat-form-field class="smallFormField">
							<input matInput formControlName="firstName" placeholder="First name">
						</mat-form-field>
						<mat-form-field class="smallFormField">
							<input matInput formControlName="lastName" placeholder="Last name">
						</mat-form-field>
						<button mat-raised-button color="warn" (click)="deleteCoProposer(i)">Delete</button>
					</div>
					<mat-action-row>
						<button mat-raised-button color="primary" (click)="addCoProposer()">Add Co-Proposer
						</button>
					</mat-action-row>
				</div>

				<mat-radio-group
						formControlName="linksWithIndustry">
					<p>Links with industry</p>
					<mat-radio-button value="yes">Yes</mat-radio-button>
					<mat-radio-button value="no">No</mat-radio-button>
				</mat-radio-group>
				<mat-radio-group formControlName="coProposerStudents">
					<p>Are any of the co-proposers students?</p>
					<mat-radio-button value="yes">Yes</mat-radio-button>
					<mat-radio-button value="no">No</mat-radio-button>
				</mat-radio-group>
				<mat-radio-group formControlName="workTowardsStudentsDegree">
					<p>Does the proposal work towards a students degree?</p>
					<mat-radio-button value="yes">Yes</mat-radio-button>
					<mat-radio-button value="no">No</mat-radio-button>
				</mat-radio-group>

				<h4>Final delivery date</h4>
				<mat-form-field>
					<input matInput
					       formControlName="needByDate"
					       [matDatepicker]="picker"
					       placeholder="Choose a date">
					<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
					<mat-datepicker #picker></mat-datepicker>
				</mat-form-field>
				<mat-form-field>
					<p>Please motivate the chosen date<br><em>
						<small>(e.g. based on awarded beamtime, or described intention to apply)</small>
					</em></p>
					<textarea matInput
					          formControlName="needByDateMotivation"
					          rows="4" cols="40"></textarea>
				</mat-form-field>
				<p>Attach a copy of the beamtime proposal, draft or intended submission:<br><strong
						style="color: red;">Accepted formats: PDF</strong></p>
				<label class="btn btn-default">
					<input name="needByDateAttachment"
					       style="width: 100%;"
					       type="file"
					       (change)="selectFile($event)">
				</label>
				<mat-form-field>
					<p>If there is anything else you would like us to know, please enter it below:</p>
					<textarea matInput
					          formControlName="other"
					          rows="4" cols="40"></textarea>
				</mat-form-field>
				<p>In the next sections you will fill out the applicable area of support your proposal requires.<br>Select
					one, or as many as apply, from the alternatives below.</p>

				<mat-checkbox formControlName="wantsCrystallization">
					Crystallization
				</mat-checkbox>
				<mat-checkbox formControlName="wantsBiologicalDeuteration">Biological deuteration
				</mat-checkbox>
				<mat-checkbox formControlName="wantsChemicalDeuteration">Chemical deuteration
				</mat-checkbox>

				<mat-action-row>
					<button mat-button color="primary" (click)="addProposal()">Save</button>
					<button mat-button class="btn btn-danger" routerLink="/home">Cancel</button>
					<button mat-button class="btn btn-primary" (click)="selectTab(2)">Next</button>
				</mat-action-row>
			</mat-card>
		</mat-tab>
		<mat-tab label="2. Crystallization" [disabled]="!proposal.wantsCrystallization">

		</mat-tab>
		<mat-tab label="3. Biological deuteration" [disabled]="!proposal.wantsBiologicalDeuteration">

		</mat-tab>
		<mat-tab label="4. Chemical deuteration" [disabled]="!proposal.wantsChemicalDeuteration">
		</mat-tab>
		<mat-tab label="5. Review and submit" [disabled]>
		</mat-tab>
	</mat-tab-group>
</form>
