<div class="jumbotron jumbotron-fluid">

	<h2>Create a new proposal</h2>

	<hr class="my-4">
</div>

<form [formGroup]="proposalForm" (ngSubmit)="save()">
	<mat-tab-group [(selectedIndex)]="selectedIndex">
		<mat-tab label="1. General information">
			<mat-card>
				<mat-form-field>
					<input matInput required formControlName="experimentTitle" placeholder="Proposal title">
				</mat-form-field>

				Proposal ID: {{this.proposalForm.controls['proposalId'].value}}

				<p>In the next sections you will fill out the applicable area of support your proposal requires.
					<br>Select one, or as many as apply, from the alternatives below.</p>

				<mat-checkbox formControlName="wantsCrystallization">Crystallization</mat-checkbox>
				<mat-checkbox formControlName="wantsBiologicalDeuteration" name="proposal.wantsBiologicalDeuteration">
					Biological deuteration
				</mat-checkbox>
				<mat-checkbox formControlName="wantsChemicalDeuteration" name="proposal.wantsChemicalDeuteration">
					Chemical deuteration
				</mat-checkbox>

				<mat-form-field>
					<textarea matInput
					          required
					          formControlName="briefSummary"
					          placeholder="Brief summary"
					          rows="4" cols="40">
					</textarea>
				</mat-form-field>

				<div class="mainProposer" formGroupName="mainProposer">

					<h4>Main proposer</h4>

					<mat-form-field>
						<input matInput
						       formControlName="firstName"
						       placeholder="First name">
					</mat-form-field>
					<mat-form-field>
						<input matInput
						       formControlName="lastName"
						       placeholder="Last name">
					</mat-form-field>
					<br>
					<mat-form-field>
						<input matInput
						       formControlName="email"
						       placeholder="Email">
					</mat-form-field>
					<mat-form-field>
						<input matInput
						       formControlName="phone"
						       placeholder="Phone">
					</mat-form-field>
					<br>
					<mat-form-field>
						<input matInput
						       formControlName="employer"
						       placeholder="Employer">
					</mat-form-field>
					<mat-form-field>
						<input matInput
						       formControlName="jobTitle"
						       placeholder="Job title">
					</mat-form-field>
				</div>


				<h4>Co-proposers</h4>

				<fieldset>
					<button mat-raised-button color="primary" (click)="addCoProposer()">
						<mat-icon>person_add</mat-icon>
						Click to add
					</button>
				</fieldset>

				<div class="coProposers" formArrayName="coProposers">

					<div class="coProposer" *ngFor="let coProposer of coProposerForms.controls; let i=index"
					     [formGroupName]="i">
						<mat-form-field>
							<input matInput required formControlName="firstName" placeholder="First name">
						</mat-form-field>

						<mat-form-field>
							<input matInput required formControlName="lastName" placeholder="Last name">
						</mat-form-field>
						<br>
						<mat-form-field>
							<input matInput required formControlName="affiliation" placeholder="Affiliation">
						</mat-form-field>

						<mat-form-field>
							<input matInput required formControlName="email" placeholder="Email">
						</mat-form-field>
						<button (click)="deleteCoProposer(i)">
							Delete
						</button>
					</div>
				</div>

				<mat-radio-group formControlName="linksWithIndustry">
					<p>Links with industry?</p>
					<mat-radio-button value="yes">Yes</mat-radio-button>
					<mat-radio-button value="no">No</mat-radio-button>
				</mat-radio-group>

				<mat-form-field>
					<input matInput
					       formControlName="linksWithIndustryDetails"
					       placeholder="If yes, please describe:">
				</mat-form-field>

				<mat-radio-group formControlName="coProposerStudents">
					<p>Are any of the co-proposers students?</p>
					<mat-radio-button value="yes">Yes</mat-radio-button>
					<mat-radio-button value="no">No</mat-radio-button>
				</mat-radio-group>

				<mat-radio-group formControlName="workTowardsStudentsDegree">
					<p>Does the proposal work towards a students degree?</p>
					<mat-radio-button value="yes">Yes</mat-radio-button>
					<mat-radio-button value="no">No</mat-radio-button>
				</mat-radio-group>

				<h4>Final delivery date</h4>

				<mat-form-field>
					<input matInput
					       formControlName="needByDate"
					       [matDatepicker]="picker"
					       placeholder="Choose a date">
					<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
					<mat-datepicker #picker></mat-datepicker>
				</mat-form-field>

				<mat-form-field>
					<p>Please motivate the chosen date<br><em>
						<small>(e.g. based on awarded beamtime, or described intention to apply)</small>
					</em></p>

					<textarea matInput
					          formControlName="needByDateMotivation"
					          rows="4" cols="40"></textarea>

				</mat-form-field>

				<fieldset class="fileUpload">

					<p>Attach a copy of the beamtime proposal, draft or intended submission:</p>

					<input type="file" name="needByDateAttachment" (change)="selectFile($event)">
					<div *ngIf="currentFileUpload" class="progress">
						<div class="progress-bar progress-bar-info progress-bar-animated" role="progressbar"
						     attr.aria-valuenow="{{progress.percentage}}"
						     aria-valuemin="0" aria-valuemax="100" [ngStyle]="{width:progress.percentage+'%'}">
							{{progress.percentage}}%
						</div>
					</div>

				</fieldset>



				<mat-form-field>
					<p>If there is anything else you would like us to know, please enter it below:</p>
					<textarea matInput
					          formControlName="other"
					          rows="4" cols="40"></textarea>
				</mat-form-field>


				<mat-action-row>
					<button mat-raised-button color="primary" type="submit">Save</button>
					<button mat-button class="btn btn-primary" (click)="selectTab(1)">Next</button>
				</mat-action-row>

			</mat-card>
		</mat-tab>
		<mat-tab label="2. Crystallization" formGroupName="crystallization">
			<div *ngIf !proposal.wantsCrystallization >
				If you wan this please select checkbox on page one

			</div>
			<mat-card>

				<p>Required information to include in the “Practical Considerations” section of your
					proposal:</p>
				<ul>
					<li>SDS-PAGE</li>
					<li>Chromatogram of protein purification to indicate yield & purity</li>
					<li>Photo of crystal</li>
				</ul>

				<mat-form-field>
					<p>Name of molecule to be crystallized:<br><em>
						<small>(e.g. superoxide dismutase)</small>
					</em></p>
					<input matInput required formControlName="moleculeName">
				</mat-form-field>
				<mat-form-field>
					<p>FASTA sequence or Uniprot number:</p>
					<input matInput required formControlName="moleculeIdentifier">
				</mat-form-field>
				<mat-form-field>
					<p>Molecular weight
						<small>(kDA)</small>
						:
					</p>
					<input matInput required formControlName="molecularWeight">
				</mat-form-field>
				<mat-form-field>
					<p>Oligomerization state:<br><em>
						<small>(e.g. homodimer, tetramer etc.)</small>
					</em></p>
					<input matInput required formControlName="oligomerizationState">
				</mat-form-field>
				<mat-form-field>
					<p>PDB ID of crystal structure:</p>
					<input matInput required formControlName="pbdId">
				</mat-form-field>
				<mat-form-field>
					<p>If the reference is publicly available, please provide the DOI or an accessible link:</p>
					<input matInput formControlName="doi">
				</mat-form-field>

				<fieldset class="fileUpload">

					<p>If the reference isn't publicly available, please upload a copy:</p>

					<input type="file" name="pbdIdReferenceAttachment" (change)="selectFile($event)">
					<div *ngIf="currentFileUpload" class="progress">
						<div class="progress-bar progress-bar-info progress-bar-animated" role="progressbar"
						     attr.aria-valuenow="{{progress.percentage}}"
						     aria-valuemin="0" aria-valuemax="100" [ngStyle]="{width:progress.percentage+'%'}">
							{{progress.percentage}}%
						</div>
					</div>

				</fieldset>



				<mat-form-field>
					<p>Does the protein have any co-factors or ligands required for crystallization?
						Specify:</p>
					<textarea matInput required formControlName="crystallizationRequirements" rows="4"
					          cols="40"></textarea>
				</mat-form-field>
				<mat-form-field>
					<p>Known crystallization precipitant composition:<br><em>
						<small>(incl. buffer, salt, additives, pH)</small>
					</em></p>
					<textarea matInput required formControlName="crystallizationPrecipitantComposition" rows="4"
					          cols="40"></textarea>
				</mat-form-field>
				<mat-form-field>
					<p>What crystallization method, volume, and temperature have you used in the past?<br><em>
						<small>(e.g. vapour diffusion, 10 &#181;L drops, room temperature)</small>
					</em></p>
					<textarea matInput required formControlName="previousCrystallizationExperience" rows="4"
					          cols="60"></textarea>
				</mat-form-field>
				<mat-form-field>
					<p>How long do your crystals take to appear?</p>
					<input matInput required formControlName="estimatedCrystallizationProductionTime">
				</mat-form-field>
				<mat-form-field>
					<p>What is the typical size of your crystal?<br><em>
						<small>( &#181;m x &#181;m x &#181;m )</small>
					</em></p>
					<input matInput required formControlName="typicalCrystalSize">
				</mat-form-field>

				<br>

				<h4>Details from protein preparation</h4>

				<mat-form-field>
					<p>Typical yield:<br><em>
						<small>(mg per liter of culture)</small>
					</em></p>
					<input matInput required formControlName="typicalYieldMgPerLiter">
				</mat-form-field>
				<mat-form-field>
					<p>Storage conditions:<br><em>
						<small>(e.g. stable at 4 &#176;C or frozen at -20 &#176;C)</small>
					</em></p>
					<input matInput required formControlName="storageConditions">
				</mat-form-field>
				<mat-form-field>
					<p>Stability:</p>
					<input matInput required formControlName="stability">
				</mat-form-field>
				<mat-form-field>
					<p>What buffer is your protein in?</p>
					<input matInput required formControlName="buffer">
				</mat-form-field>
				<mat-form-field>
					<p>Is your protein partially or fully deuterated?</p>
					<input matInput required formControlName="levelOfDeuteration">
				</mat-form-field>
				<mat-form-field>
					<p>What protein concentration do you usually use for crystallization?</p>
					<input matInput required formControlName="typicalProteinConcentrationUsed">
				</mat-form-field>
				<mat-action-row>
					<button mat-button class="btn btn-danger" (click)="selectTab(2)">Skip</button>
					<button mat-button class="btn btn-danger" (click)="selectTab(0)">Back</button>
					<button mat-button class="btn btn-primary" (click)="selectTab(2)">Next</button>
					<button mat-raised-button color="primary" type="submit">Save</button>
				</mat-action-row>
			</mat-card>

		</mat-tab>
		<mat-tab label="3. Biological deuteration">

			<mat-card>

				<p>If the protein is to be purified by us, please remember to include a chromatogram from
					purification and a picture of SDS-PAGE that indicates MW and purity in your science case.</p>

				<p>Select one, or as many as apply, from the alternatives below.</p>

				<mat-checkbox formControlName="wantsBiomassDeuteration">Biomass
					<small>(yeast)</small>
				</mat-checkbox>
				<mat-checkbox formControlName="wantsProteinDeuteration">Protein <em>
					<small>(E. coli)</small>
				</em>
				</mat-checkbox>
				<mat-checkbox formControlName="wantsOtherDeuteration">Other
				</mat-checkbox>
				<mat-form-field>
					<input matInput
					       formControlName="other"
					       placeholder="If other - please explain:">
				</mat-form-field>

				<mat-expansion-panel formGroupName="biomassDeuteration">

					<mat-expansion-panel-header><h4>For biomass</h4></mat-expansion-panel-header>

					<mat-radio-group formControlName="organismProvidedByUser">
						<p> Will user provide the organism for us to grow under deuterated conditions?</p>
						<mat-radio-button value="yes">Yes</mat-radio-button>
						<mat-radio-button value="no">No</mat-radio-button>
					</mat-radio-group>

					<mat-form-field>
						<textarea matInput
						          formControlName="organismDetails"
						          placeholder="What is the organism?"
						          rows="4" cols="40"></textarea>
					</mat-form-field>

					<fieldset class="fileUpload">

						<p>Please attach a reference or protocol of culture conditions and media composition:</p>

						<input type="file" name="organismReferenceAttachment" (change)="selectFile($event)">
						<div *ngIf="currentFileUpload" class="progress">
							<div class="progress-bar progress-bar-info progress-bar-animated" role="progressbar"
							     attr.aria-valuenow="{{progress.percentage}}"
							     aria-valuemin="0" aria-valuemax="100" [ngStyle]="{width:progress.percentage+'%'}">
								{{progress.percentage}}%
							</div>
						</div>

					</fieldset>

					<mat-form-field>
						<input matInput formControlName="amountNeeded"
						       placeholder="How much material do you need?">
					</mat-form-field>
					<mat-form-field>
						<input matInput formControlName="stateOfMaterial"
						       placeholder="Indicate wet or dry mass:">
					</mat-form-field>
					<mat-form-field>
						<textarea matInput
						          formControlName="amountOfMaterialMotivation"
						          placeholder="Justify amount:"
						          rows="4" cols="40"></textarea>
					</mat-form-field>

					<mat-radio-group formControlName="deuterationLevelRequired">
						<p> Level of deuteration required:</p>
						<mat-radio-button value="partial">Partial (65-80% with unlabeled carbon source)</mat-radio-button>
						<mat-radio-button value="full">Full (~99% with labeled carbon source)</mat-radio-button>
					</mat-radio-group>

					<mat-form-field>
						<textarea matInput formControlName="deuterationLevelMotivation"
						          placeholder="Justify level of D incorporation:"
						          rows="4" cols="40"></textarea>
					</mat-form-field>

					<mat-action-row>
						<button mat-raised-button color="primary" type="submit">Save</button>
					</mat-action-row>

				</mat-expansion-panel>

				<mat-expansion-panel formGroupName="proteinDeuteration">
					<mat-expansion-panel-header>
						<mat-panel-title><h4>For proteins</h4></mat-panel-title>
					</mat-expansion-panel-header>

					<mat-form-field>
						<p>Name of molecule to be deuterated: <br><em>
							<small>(e.g. superoxide dismutase)</small>
						</em></p>
						<input matInput
						       formControlName="moleculeName">
					</mat-form-field>

					<mat-form-field>
						<p>FASTA sequence or Uniprot number:</p>
						<input matInput
						       formControlName="moleculeIdentifier">
					</mat-form-field>

					<mat-form-field>
						<p>Molecular weight
							<small>(kDA)</small>
							:
						</p>
						<input matInput
						       formControlName="molecularWeight">
					</mat-form-field>

					<mat-form-field>
						<p>Oligomerization state:<br><em>
							<small>(e.g. homodimer, tetramer etc.)</small>
						</em></p>
						<input matInput
						       formControlName="oligomerizationState">
					</mat-form-field>

					<mat-form-field>
						<p>Does the protein have any co-factors or ligands required for expression? Specify:</p>
						<textarea matInput
						          formControlName="expressionRequirements"
						          rows="4" cols="40"></textarea>
					</mat-form-field>

					<mat-form-field>
						<p>Origin of molecules:<br><em>
							<small>(e.g. human, E. coli, S. cerevisiae)</small>
						</em></p>
						<input matInput
						       formControlName="moleculeOrigin">
					</mat-form-field>

					<mat-radio-group formControlName="expressionPlasmidProvidedByUser">
						<p>Will you provide an expression plasmid?</p>
						<mat-radio-button value="yes">Yes</mat-radio-button>
						<mat-radio-button value="no">No</mat-radio-button>
					</mat-radio-group>

					<mat-form-field>
						<p>If yes, please provide details:<br><em>
							<small>(e.g. pET31b, C-terminal His-tag, Amp selection)</small>
						</em></p>
						<input matInput formControlName="expressionPlasmidProvidedByUserDetails">
					</mat-form-field>

					<p>
						If you chose no, we will design & order a plasmid commercially
					</p>

					<mat-form-field>
						<p>How much material do you need?</p>
						<input matInput formControlName="amountNeeded">
					</mat-form-field>

					<mat-form-field>
						<p>Justify amount:</p>
						<input matInput formControlName="deuterationLevelMotivation">
					</mat-form-field>


					<mat-radio-group formControlName="deuterationLevelRequired">
						<p>Level of deuteration required:</p>
						<mat-radio-button value="full">Full (~99% with labeled carbon source)</mat-radio-button>
						<mat-radio-button value="partial65">Partial (65-80% with unlabeled carbon source)
						</mat-radio-button>
						<mat-radio-button value="partial25">Partial (25-30% H/D exchange)</mat-radio-button>
					</mat-radio-group>

					<mat-form-field>
						<p>Justify level of D incorporation:</p>
						<input matInput
						       formControlName="deuterationLevelMotivation">
					</mat-form-field>
					<mat-radio-group formControlName="needsPurificationSupport">
						<p>Will you need DEMAX to purify the protein from deuterated biomass?</p>
						<mat-radio-button value="yes">Yes</mat-radio-button>
						<mat-radio-button value="no">No</mat-radio-button>
					</mat-radio-group>

					<fieldset class="fileUpload">

						<p>If “yes”, please attach reference or protocol</p>
						<input type="file" name="needsPurificationSupportAttachment" (change)="selectFile($event)">
						<div *ngIf="currentFileUpload" class="progress">
							<div class="progress-bar progress-bar-info progress-bar-animated" role="progressbar"
							     attr.aria-valuenow="{{progress.percentage}}"
							     aria-valuemin="0" aria-valuemax="100" [ngStyle]="{width:progress.percentage+'%'}">
								{{progress.percentage}}%
							</div>
						</div>

					</fieldset>

					<mat-radio-group formControlName="hasDoneUnlabeledProteinExpression">
						<p>Has expression been done for the unlabeled protein?</p>
						<mat-radio-button value="yes">Yes</mat-radio-button>
						<mat-radio-button value="no">No</mat-radio-button>
					</mat-radio-group>
					<mat-form-field>
						<input matInput formControlName="typicalYield" placeholder="Typical yield:">
					</mat-form-field>
					<mat-radio-group formControlName="hasDoneProteinPurification">
						<p>Have you been able to purify the unlabeled protein? </p>
						<mat-radio-button value="yes">Yes</mat-radio-button>
						<mat-radio-button value="no">No</mat-radio-button>
					</mat-radio-group>
					<mat-radio-group formControlName="hasProteinDeuterationExperience">
						<p>Have you tried to deuterate the protein yourself, even in small scale?</p>
						<mat-radio-button value="yes">Yes</mat-radio-button>
						<mat-radio-button value="no">No</mat-radio-button>
					</mat-radio-group>

					<mat-form-field>
						<p>If yes, what were the results?</p>
						<input matInput formControlName="proteinDeuterationResults">
					</mat-form-field>

				</mat-expansion-panel>

				<div formGroupName="bioSafety">
					<h4>Biosafety</h4>
					<mat-radio-group formControlName="bioSafetyContainmentLevel">
						<p>Which biosafety containment level is required to work with your sample?</p>
						<mat-radio-button value="L1">L1</mat-radio-button>
						<mat-radio-button value="L2">L2</mat-radio-button>
					</mat-radio-group>
					<mat-radio-group formControlName="organismRisk">
						<p>Is your organism a live virus, toxin-producing, or pose ay risk to human health and/or
							the
							environment?</p>
						<mat-radio-button value="yes">Yes</mat-radio-button>
						<mat-radio-button value="no">No</mat-radio-button>
					</mat-radio-group>
					<mat-form-field>
						<p>If you chose “yes”, please provide details:</p>
						<input matInput
						       formControlName="organismRiskDetails">
					</mat-form-field>
					<mat-form-field>
						<p>If there is anything else you would like us to know, please enter it below:</p>
						<input matInput
						       formControlName="other">
					</mat-form-field>
				</div>

				<mat-action-row>
					<button mat-button class="btn btn-danger" (click)="selectTab(3)">Skip</button>
					<button mat-button class="btn btn-danger" (click)="selectTab(1)">Back</button>
					<button mat-button class="btn btn-primary" (click)="selectTab(3)">Next</button>
					<button mat-raised-button color="primary" type="submit">Save</button>
				</mat-action-row>
			</mat-card>
		</mat-tab>
		<mat-tab label="4. Chemical deuteration" formGroupName="chemicalDeuteration">
			<mat-card>

				<mat-form-field>
					<input matInput required
					       formControlName="moleculeName"
					       placeholder="Molecule/s to be deuterated (name):">
				</mat-form-field>
				<mat-form-field>
					<input matInput required
					       formControlName="amount"
					       placeholder="Amount of material required (mass):">
				</mat-form-field>
				<mat-form-field>
				<textarea matInput required
				          formControlName="amountMotivation"
				          placeholder="Justify amount:"
				          rows="6" cols="40"></textarea>
				</mat-form-field>
				<mat-form-field>
					<input matInput required
					       formControlName="deuterationLocationAndPercentage"
					       placeholder="Indicate percentage and location of deuteration:">
				</mat-form-field>
				<mat-form-field>
				<textarea matInput required formControlName="deuterationLevelMotivation"
				          placeholder="Justify level of deuteration"
				          rows="5" cols="40"></textarea>
				</mat-form-field>


				<fieldset class="fileUpload">

					<p>Attach chemical structure</p>

					<input type="file" name="chemicalStructureAttachment" (change)="selectFile($event)">
					<div *ngIf="currentFileUpload" class="progress">
						<div class="progress-bar progress-bar-info progress-bar-animated" role="progressbar"
						     attr.aria-valuenow="{{progress.percentage}}"
						     aria-valuemin="0" aria-valuemax="100" [ngStyle]="{width:progress.percentage+'%'}">
							{{progress.percentage}}%
						</div>
					</div>

				</fieldset>

				<mat-radio-group formControlName="hasPreparedMolecule">
					<p>Has this molecule (or an unlabeled/isotopic analogue) been prepared by yourself or
						others?</p>
					<mat-radio-button value="yes">Yes</mat-radio-button>
					<mat-radio-button value="no">No</mat-radio-button>
				</mat-radio-group>

				<fieldset class="fileUpload">

					<p>If yes, please provide a protocol:</p>

					<input type="file" name="moleculePreparationReferenceArticle" (change)="selectFile($event)">
					<div *ngIf="currentFileUpload" class="progress">
						<div class="progress-bar progress-bar-info progress-bar-animated" role="progressbar"
						     attr.aria-valuenow="{{progress.percentage}}"
						     aria-valuemin="0" aria-valuemax="100" [ngStyle]="{width:progress.percentage+'%'}">
							{{progress.percentage}}%
						</div>
					</div>

				</fieldset>

				<fieldset class="fileUpload">

					<p>If yes, please provide a protocol:</p>

					<app-file-upload attachmentType="moleculePreparationReferenceArticle"
					                 [proposal]="proposal"></app-file-upload>

				</fieldset>


				<mat-action-row>
					<button mat-button class="btn btn-danger" (click)="selectTab(4)">Skip</button>
					<button mat-button class="btn btn-danger" (click)="selectTab(2)">Back</button>
					<button mat-button class="btn btn-primary" (click)="selectTab(4)">Next</button>
					<button mat-raised-button color="primary" type="submit">Save</button>
				</mat-action-row>
			</mat-card>

		</mat-tab>

		<mat-tab label="5. Review and submit">
			<mat-card>
				<h4>Upload proposal</h4>
				<p>
					Proposals should be written in English, properly referenced, and prepared in the <a download href="/word/attachment">Word template</a>.<br>
					Please keep to the 2 page limit, including Summary, Background (Science Case, Practical Consideration, References, Figures/Tables)
				</p>

				<fieldset class="fileUpload">

					<p>If yes, please provide a protocol:</p>

					<input type="file" name="proposalTemplate" (change)="selectFile($event)">
					<div *ngIf="currentFileUpload" class="progress">
						<div class="progress-bar progress-bar-info progress-bar-animated" role="progressbar"
						     attr.aria-valuenow="{{progress.percentage}}"
						     aria-valuemin="0" aria-valuemax="100" [ngStyle]="{width:progress.percentage+'%'}">
							{{progress.percentage}}%
						</div>
					</div>

				</fieldset>

				<h4>Attached documents</h4>

				<div style="display: flex; flex-wrap: wrap; justify-content: space-around;">

					<div *ngFor="let file of fileUploads | async" style="text-align: center; max-width: 100px;">
						<a href="{{file}}">
							<figure>
								<img mat-card-sm-image src="../../assets/logos/pdf.png" width="50px">
								<figcaption>
									<small>{{file}}</small>
								</figcaption>
							</figure>
						</a>
					</div>
				</div>

				<mat-action-row>
					<a download mat-raised-button class="btn btn-danger btn-lg"
					   href="{{url}}/api/generate/{{this.proposalForm.controls['proposalId'].value}}">
						<mat-icon>cached</mat-icon>
						Generate PDF
					</a>

					<a download class="btn btn-danger" href="{{url}}/api/merge/{{this.proposalForm.controls['proposalId'].value}}">
						<mat-icon>get_app</mat-icon> Download proposal
					</a>
				</mat-action-row>
				<mat-action-row>
					<button mat-stroked-button class="btn btn-danger btn-lg" (click)="selectTab(3)">
						<mat-icon>keyboard_arrow_left</mat-icon>
						Back
					</button>
					<button mat-stroked-button class="btn btn-success btn-lg" type="submit">
						<mat-icon>save</mat-icon>
						Save
					</button>
					<button mat-stroked-button class="btn btn-primary" type="submit">
						Submit proposal
					</button>
				</mat-action-row>
			</mat-card>

		</mat-tab>
	</mat-tab-group>

</form>
