<main>
	<div class="col-md-5">
		<header>
			<mat-card-title>
				My current proposals
			</mat-card-title>
		</header>
		<section>
			<ul class="list-group">
				<li class="list-group-item"
				    *ngFor="let proposal of proposals"
				    (click)="selectProposal(proposal)"
				    [class.active]="proposal === selectedProposal">
					{{proposal.experiment_title}}
				</li>
			</ul>
		</section>
		<div>
			<button mat-button="primary" (click)="createNewProposal()">New</button>
		</div>
		<footer>

		</footer>
	</div>
	<div class="col-md-5 col-md-offset-2">
		<app-proposal-details
				[proposal]="selectedProposal"
				[createHandler]="addProposal"
				[updateHandler]="updateProposal"
				[deleteHandler]="deleteProposal">
		</app-proposal-details>
	</div>
</main>
