<mat-card [formGroup]="frmSignup" (submit)="submit()">

	<mat-form-field>

		<input matInput
		       formControlName="email"
		       placeholder="Email"
		       [ngClass]="frmSignup.controls['email'].invalid ? 'is-invalid' : ''"
		>
		<mat-error *ngIf="frmSignup.controls['email'].hasError('required')">Email is required</mat-error>
		<mat-error *ngIf="frmSignup.controls['email'].hasError('email')">Please enter a valid email address</mat-error>

	</mat-form-field>

	<br>

	<mat-form-field style="margin-bottom: 4rem;">

		<input matInput
		       formControlName="password"
		       placeholder="Password"
		       [ngClass]="frmSignup.controls['password'].invalid ? 'is-invalid' : ''">
		<mat-error *ngIf="frmSignup.controls['password'].hasError('required')">Password is required</mat-error>
		<mat-error *ngIf="frmSignup.controls['password'].hasError('minlength')"></mat-error>
		<mat-error *ngIf="frmSignup.controls['password'].hasError('hasNumber')"></mat-error>

		<mat-error [ngClass]="frmSignup.controls['password'].hasError('required') || frmSignup.controls['password'].hasError('minlength')  ? 'text-danger' : 'text-success'">
			<mat-icon>{{ frmSignup.controls['password'].hasError('required') || frmSignup.controls['password'].hasError('minlength') ? 'cancel' : 'check_circle' }}</mat-icon>
			Must be at least 8 characters
		</mat-error>
		<mat-error
		           [ngClass]="frmSignup.controls['password'].hasError('required') || frmSignup.controls['password'].hasError('hasNumber')  ? 'text-danger' : 'text-success'">
			<mat-icon>{{ frmSignup.controls['password'].hasError('required') || frmSignup.controls['password'].hasError('hasNumber') ? 'cancel' : 'check_circle' }}</mat-icon>
			Must contain at least 1 number
		</mat-error>
		<mat-error
		           [ngClass]="frmSignup.controls['password'].hasError('required') || frmSignup.controls['password'].hasError('hasCapitalCase')  ? 'text-danger' : 'text-success'">
			<mat-icon>{{ frmSignup.controls['password'].hasError('required') || frmSignup.controls['password'].hasError('hasCapitalCase') ? 'cancel' : 'check_circle' }}</mat-icon>
			Must contain at least 1 letter in capital case
		</mat-error>
		<mat-error
		           [ngClass]="frmSignup.controls['password'].hasError('required') || frmSignup.controls['password'].hasError('hasSmallCase')  ? 'text-danger' : 'text-success'">
			<mat-icon>{{ frmSignup.controls['password'].hasError('required') || frmSignup.controls['password'].hasError('hasSmallCase') ? 'cancel' : 'check_circle' }}</mat-icon>
			Must contain at least 1 letter in small case
		</mat-error>
		<mat-error [ngClass]="frmSignup.controls['password'].hasError('required') || frmSignup.controls['password'].hasError('hasSpecialCharacters') ? 'text-danger' : 'text-success'">
			<mat-icon>{{ frmSignup.controls['password'].hasError('required') || frmSignup.controls['password'].hasError('hasSpecialCharacters') ? 'cancel' : 'check_circle' }}</mat-icon>
			Must contain at least 1 special character
		</mat-error>


	</mat-form-field>

	<mat-form-field style="margin-bottom: 4rem;">

		<input matInput
		       formControlName="confirmPassword"
		       placeholder="Confirm password"
		       [ngClass]="frmSignup.controls['confirmPassword'].invalid ? 'is-invalid' : ''">
		<mat-error *ngIf="frmSignup.controls['confirmPassword'].hasError('NoPasswordMatch')">Passwords do not match</mat-error>

	</mat-form-field>
<span style="padding: 4rem;"></span>
	<button mat-raised-button [disabled]="frmSignup.invalid" type="submit"
	        class="btn btn-primary btn-block font-weight-bold">Register</button>
</mat-card>