<section *ngIf="proposals.length === 0">
	There are no proposals in the database. Create a new proposal below.
</section>
<section *ngIf="!isEditing && !isCreating" class="proposal-list">
	<table style="width:100%;">
		<tr>
			<td>ID</td>
			<td>Title</td>
			<td>Lab</td>
			<td>Options</td>
		</tr>
		<tr *ngFor="let proposal of proposals">
			<td>{{proposal._id}}</td>
			<td>{{proposal.experimentTitle}}</td>
			<td>{{proposal.lab}}</td>
			<td>
				<button class="btn btn-sm btn-primary" (click)="enableEditing(proposal)">
					<i class="fa fa-pencil"></i> Edit
				</button>
			</td>
			<td>
				<button class="btn btn-sm btn-danger ml-1" (click)="deleteProposal(proposal)">
					<i class="fa fa-trash"></i> Delete
				</button>
			</td>
		</tr>
	</table>
</section>
<a mat-raised-button class="btn btn-sm btn-danger ml-1" *ngIf="!isCreating && !isEditing" (click)="enableCreating()">Create
	new
	proposal</a>

<section *ngIf="isEditing" class="createProposal">

	<form (ngSubmit)="editProposal(proposal)">
		<mat-card>
			<mat-card-content>
				<mat-form-field><input matInput [(ngModel)]="proposal.experimentTitle" name="experimentTitle"
				                       placeholder="Experiment title"></mat-form-field>
				<mat-form-field><textarea rows="4" cols="40" matInput [(ngModel)]="proposal.briefSummary"
				                          name="briefSummary" placeholder="Brief summary"></textarea></mat-form-field>
				<mat-divider></mat-divider>
				<h4>Main proposer</h4>
				<mat-form-field><input matInput [(ngModel)]="proposal.mainProposerFirstName"
				                       name="mainProposerFirstName" placeholder="First name"></mat-form-field>
				<mat-form-field><input matInput [(ngModel)]="proposal.mainProposerLastName" name="mainProposerLastName"
				                       placeholder="Last name"></mat-form-field>
				<mat-form-field><input matInput [(ngModel)]="proposal.mainProposerAffiliation"
				                       name="mainProposerAffiliation" placeholder="Affiliation"></mat-form-field>
				<mat-form-field><input matInput [(ngModel)]="proposal.mainProposerPhone" name="mainProposerPhone"
				                       placeholder="phone"></mat-form-field>
				<mat-form-field><input matInput [(ngModel)]="proposal.mainProposerEmail" name="mainProposerEmail"
				                       placeholder="email"></mat-form-field>
				<mat-divider></mat-divider>
				<h4>Scheduling</h4>
				<input matInput [matDatepicker]="picker" placeholder="Choose a date">
				<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
				<mat-datepicker #picker></mat-datepicker>
				<mat-form-field>
					<p>Motivate “need by” date (e.g. based on awarded beamtime, or described intention to apply):</p>
					<input matInput [(ngModel)]="proposal.needByDate" name="needByDate">
				</mat-form-field>
				<mat-divider></mat-divider>
				<mat-form-field>
					<p>Select which lab/instrument you wish to apply to:</p>
					<mat-select [(ngModel)]="proposal.lab" name="lab">
						<mat-option value="DEMAX">DEMAX</mat-option>
					</mat-select>
				</mat-form-field>
			</mat-card-content>
			<mat-card-action>
				<button mat-rasied-button (click)="cancelEditing()">Cancel</button>
				<button mat-rasied-button type="submit">Save</button>
			</mat-card-action>
		</mat-card>
	</form>
</section>

<section *ngIf="isCreating" class="createProposal">
	<form [formGroup]="proposalForm" (ngSubmit)="onSubmit()">
		<mat-tab-group [selectedIndex]="selectedIndex">
			<mat-tab label="1. Proposal guidelines">
				<p> Users are strongly encouraged to contact DEMAX staff prior to preparing and
					submitting a
					deuteration/crystallization proposal. General enquiries can be sent to: <a
							href="mailto:demax@esss.se">demax@esss.se</a>
					or to one of the<a routerLink="/contact"> subject matter experts.</a>
				</p>
				<ul>
					<li> Proposals should be written in English, properly referenced, and prepared in
						the <a
								href="http://localhost:8080/word/attachment">Word template.</a> Please
						keep to the 2
						page limit, including Summary, Background (Science Case, Practical
						Consideration, References,
						Figures/Tables)
					</li>
					<li> Access to DEMAX is granted on the basis of both a technical and a peer-review
						process.
					</li>
					<li> Proposals awarded during initial operations (2019-2022) will be free of charge.
						During formal
						user
						operations (beyond 2023) we reserve the right to ask for partial financial
						contributions towards
						consumables
						& shipping costs.
					</li>
					<li> During initial operations we will not limit access to DEMAX based on
						ESS-membership. Beyond
						this
						period
						we
						will respect the user access policy that will be applicable ESS-wide.
					</li>
					<li> Biological and chemical deuteration proposals are run as a service but users
						for protein
						crystallization
						are welcome to come in person as well.
					</li>
				</ul>
				<div style="text-align: right;">
					<button mat-raised-button style="background-color: #005CBF; color: white;" (click)="selectTab(1)">
						Next
					</button>
				</div>
			</mat-tab>
			<mat-tab label="2. General information">
				<mat-card>
					<mat-card-content>
						<mat-form-field><input matInput formControlName="experimentTitle"
						                       placeholder="Experiment title"></mat-form-field>
						<mat-form-field><textarea rows="4" cols="40" matInput formControlName="briefSummary"
						                          placeholder="Brief summary"></textarea></mat-form-field>
						<br>
						<mat-divider></mat-divider>
						<br>
						<h4>Main proposer</h4>
						<mat-form-field><input matInput formControlName="mainProposerFirstName"
						                       placeholder="{{auth.currentUser.firstName}}"></mat-form-field>
						<mat-form-field><input matInput formControlName="mainProposerLastName" placeholder="{{auth.currentUser.lastName}}">
						</mat-form-field>
						<mat-form-field><input matInput formControlName="mainProposerAffiliation"
						                       placeholder="{{auth.currentUser.employerName}}"></mat-form-field>
						<mat-form-field><input matInput formControlName="mainProposerPhone" placeholder="{{auth.currentUser.phone}}">
						</mat-form-field>
						<mat-form-field><input matInput formControlName="mainProposerEmail" placeholder="{{auth.currentUser.email}}">
						</mat-form-field>
						<br>
						<mat-divider></mat-divider>
						<br>
						<h4>Co-Proposers</h4>
						<mat-form-field>
							<div formArrayName="coProposers" style="padding:3rem auto;">
								<div *ngFor="let firstName of coProposers.controls; let i=index">
									<mat-form-field><input matInput [formControlName]="i"></mat-form-field>
								</div>
								<button mat-button style="background-color: #005CBF; color: white;"
								        (click)="addCoProposer()">Add Co-Proposer
								</button>
							</div>
						</mat-form-field>
						<br>
						<mat-divider></mat-divider>
						<br>



						<h4>Scheduling</h4>
						<p>What date do you need the samples?</p>
						<mat-form-field>
							<br>
							<input matInput [matDatepicker]="picker" placeholder="Choose a date" [formControl]="needByDate">
							<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
							<mat-datepicker #picker></mat-datepicker>
						</mat-form-field>
						<br>
						<mat-form-field>
							<p>Please motivate the chosen date (e.g. based on awarded beamtime, or described intention to
								apply):</p>
							<input matInput formControlName="needByDateMotivation">
						</mat-form-field>
						<fieldset>
							<p>Upload copy of beamtime proposal</p>
							<input type="file" formControlName="needByDateAttachment" #picked (click)="message=''" (change)="onPicked(picked)">>
						</fieldset>



						<br>
						<mat-divider></mat-divider>
						<br>
						<h4>Resources</h4>
						<mat-form-field>
							<p>Select which lab/instrument you wish to apply to:</p>
							<mat-select formControlName="lab" style="width: 50%;">
								<mat-option value="DEMAX">DEMAX</mat-option>
								<mat-option value="FLUCO">FLUCO</mat-option>
								<mat-option value="MESI">MESI</mat-option>
								<mat-option value="PREMP">PREMP</mat-option>
								<mat-option value="SCUO">SCUO</mat-option>
								<mat-option value="SULFI">SULFI</mat-option>
								<mat-option value="TEFI">TEFI</mat-option>
							</mat-select>
						</mat-form-field>
						<p>In the next sections you will fill out the applicable area of support your proposal requires.
							Select one, or as many as apply, from (A) Crystallization, (B) Biological Deuteration, (C)
							Chemical Deuteration.</p>
					</mat-card-content>
					<mat-card-actions style="text-align: center">
						<button mat-raised-button style="background-color: #0094CA; margin: 1rem 2rem; color: white;"
						        (click)="editProposal(proposal)">Save
						</button>
					</mat-card-actions>
					<mat-card-footer>
						<div>
							<button mat-raised-button style="background-color: indianred; margin: 1rem 2rem;"
							        (click)="selectTab(0)">Back
							</button>
							<button mat-raised-button
							        style="background-color: #005CBF; margin: 1rem 2rem; color: white;"
							        (click)="selectTab(2)">Next
							</button>
						</div>
					</mat-card-footer>
				</mat-card>
			</mat-tab>
			<mat-tab label="3. Deuteration details">
				<mat-accordion>
					<mat-expansion-panel>
						<mat-expansion-panel-header>
							<mat-panel-title>Crystallization</mat-panel-title>
							<mat-panel-description></mat-panel-description>
						</mat-expansion-panel-header>
						<div formGroupName="crystallization" class="crystallization">
							<mat-form-field>
								<p>Name of molecule to be crystallized (e.g. superoxide dismutase)</p>
								<textarea rows="4" cols="40" matInput formControlName="moleculeName"></textarea>
							</mat-form-field>
							<mat-form-field>
								<p>FASTA sequence or Uniprot number</p>
								<textarea rows="4" cols="40" matInput formControlName="moleculeIdentifier"></textarea>
							</mat-form-field>
							<mat-form-field>
								<p>Oligomerizarion state? (e.g. homodimer, tetramer etc.)</p>
								<textarea rows="4" cols="40" matInput formControlName="oligomerizationState"></textarea>
							</mat-form-field>
							<mat-form-field>
								<p>Does the protein have any co-factors or ligands required for crystallization?
									Specify:</p>
								<textarea rows="4" cols="40" matInput
								          formControlName="crystallizationRequirements"></textarea>
							</mat-form-field>
							<mat-form-field>
								<p>Known crystallization precipitant composition (incl. buffer, salt, additives, pH)</p>
								<textarea rows="4" cols="40" matInput
								          formControlName="crystallizationPrecipitantComposition"></textarea>
							</mat-form-field>
							<mat-form-field>
								<p>What crystallization method, volume, and temperature have you used in the past? (e.g.
									vapour diffusion, 10 L drops, room temperature)
								</p>
								<textarea rows="4" cols="40" matInput
								          formControlName="previousCrystallizationExperience"></textarea>
							</mat-form-field>
							<mat-form-field>
								<p>How long do your crystals take to appear?:</p>
								<textarea rows="4" cols="40" matInput
								          formControlName="estimatedCrystallizationProductionTime"></textarea>
							</mat-form-field>
							<mat-form-field>
								<p>What is the typical size of your crystal (m x m x m):</p>
								<textarea rows="4" cols="40" matInput formControlName="typicalCrystalSize"></textarea>
							</mat-form-field>
							<mat-divider></mat-divider>
							<h3>Details from protein preparation</h3>
							<mat-form-field>
								<p>Typical yield (mg per liter of culture)</p>
								<textarea rows="4" cols="40" matInput
								          formControlName="typicalYieldMgPerLiter"></textarea>
							</mat-form-field>
							<mat-form-field>
								<p>Storage conditions (e.g. stable at 4 C or frozen at -20 C)</p>
								<textarea rows="4" cols="40" matInput formControlName="storageConditions"></textarea>
							</mat-form-field>
							<mat-form-field>
								<p>Stability</p>
								<textarea rows="4" cols="40" matInput formControlName="stability"></textarea>
							</mat-form-field>
							<mat-form-field>
								<p>What buffer is your protein in?:</p>
								<textarea rows="4" cols="40" matInput formControlName="buffer"></textarea>
							</mat-form-field>
							<mat-form-field>
								<p>Is your protein partially or fully deuterated?</p>
								<textarea rows="4" cols="40" matInput formControlName="levelOfDeuteration"></textarea>
							</mat-form-field>
							<mat-form-field>
								<p>What protein concentration do you usually use for crystallization:</p>
								<textarea rows="4" cols="40" matInput
								          formControlName="typicalProteinConcentrationUsed"></textarea>
							</mat-form-field>
						</div>
					</mat-expansion-panel>
					<mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
						<mat-expansion-panel-header>
							<mat-panel-title>Biological deuteration</mat-panel-title>
						</mat-expansion-panel-header>
						<mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
							<mat-expansion-panel-header>
								<mat-panel-title>For biomass</mat-panel-title>
							</mat-expansion-panel-header>
							<div formGroupName="biomassDeuteration">
								<fieldset>
									<p>Select Protein or Biomass (E. coli, yeast)</p>
									<mat-radio-group>
										<mat-radio-button value="protein">Protein</mat-radio-button>
										<mat-radio-button value="biomass">Biomass</mat-radio-button>
										<mat-radio-button value="other">Other</mat-radio-button>
									</mat-radio-group>
								</fieldset>
								<fieldset>
									<p> Will user provide the organism for us to grow under deuterated conditions?</p>
									<mat-radio-group formControlName="organismProvidedByUser">
										<mat-radio-button value="yes">Yes</mat-radio-button>
										<mat-radio-button value="no">No</mat-radio-button>
									</mat-radio-group>
								</fieldset>
								<mat-form-field>
									<p>What is the organism?</p>
									<textarea rows="4" cols="40" matInput formControlName="organismDetails"></textarea>
								</mat-form-field>
								<mat-form-field>
									<p> How much material do you need?</p>
									<textarea rows="4" cols="40" matInput formControlName="amountNeeded"></textarea>
								</mat-form-field>
								<mat-form-field>
									<p> Indicate wet or dry mass:</p>
									<textarea rows="4" cols="40" matInput formControlName="stateOfMaterial"></textarea>
								</mat-form-field>
								<mat-form-field>
									<p> Justify amount:</p>
									<textarea rows="4" cols="40" matInput
									          formControlName="amountOfMaterialMotivation"></textarea>
								</mat-form-field>
								<mat-radio-group formControlName="deuterationLevelRequired">
									<p> Level of deuteration required:</p>
									<mat-radio-button value="partial">Partial (65-80% with unlabeled carbon source)
									</mat-radio-button>
									<mat-radio-button value="full">Full (~99% with labeled carbon source)
									</mat-radio-button>
								</mat-radio-group>
								<mat-form-field>
									<p> Justify level of D incorporation:</p>
									<textarea rows="4" cols="40" matInput
									          formControlName="deuterationLevelMotivation"></textarea>
								</mat-form-field>
							</div>
						</mat-expansion-panel>
						<mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
							<mat-expansion-panel-header>
								<mat-panel-title>For proteins</mat-panel-title>
							</mat-expansion-panel-header>

							<div formGroupName="proteinDeuteration">
								<mat-form-field>
									<p> Name of molecule to be deuterated (e.g. superoxide dismutase):</p>
									<textarea rows="4" cols="40" matInput formControlName="moleculeName"></textarea>
								</mat-form-field>
								<mat-form-field>
									<p> FASTA sequence or Uniprot number:</p>
									<textarea rows="4" cols="40" matInput
									          formControlName="moleculeIdentifier"></textarea>
								</mat-form-field>
								<mat-form-field>
									<p> Molecular weight (kDA):</p>
									<textarea rows="4" cols="40" matInput formControlName="molecularWeight"></textarea>
								</mat-form-field>
								<mat-form-field>
									<p> Oligomerizarion state? (e.g. homodimer, tetramer etc.):</p>
									<textarea rows="4" cols="40" matInput
									          formControlName="oligomerizationState"></textarea>
								</mat-form-field>
								<mat-form-field>
									<p> Does the protein have any co-factors or ligands required for expression?
										Specify:</p>
									<textarea rows="4" cols="40" matInput
									          formControlName="expressionRequirements"></textarea>
								</mat-form-field>
								<mat-form-field>
									<p> Origin of molecules (e.g. human, E. coli, S. cerevisiae):</p>
									<textarea rows="4" cols="40" matInput formControlName="moleculeOrigin"></textarea>
								</mat-form-field>
								<mat-form-field>
									<p>If “yes”, please provide details (e.g. pET31b, C-terminal His-tag, Amp
										selection):
										(If “no”, we will design & order a plasmid commercially)</p>
									<textarea rows="4" cols="40" matInput formControlName="details"></textarea>
								</mat-form-field>
								<mat-form-field>
									<p> How much material do you need:</p>
									<textarea rows="4" cols="40" matInput formControlName="amountNeeded"></textarea>
								</mat-form-field>
								<mat-radio-group formControlName="expressionPlasmidProvidedByUser">
									<p>Will you provide an expression plasmid?</p>
									<mat-radio-button value="yes">Yes</mat-radio-button>
									<mat-radio-button value="no">No</mat-radio-button>
								</mat-radio-group>
								<mat-form-field>
									<p>Justify amount:</p>
									<textarea rows="4" cols="40" matInput
									          formControlName="amountNeededMotivation"></textarea>
								</mat-form-field>
								<mat-form-field>
									<p>Level of deuteration required</p>
									<textarea rows="4" cols="40" matInput
									          formControlName="deuterationLevelRequired"></textarea>
								</mat-form-field>
								<mat-form-field>
									<p>Justify level of D incorporation:</p>
									<textarea rows="4" cols="40" matInput
									          formControlName="deuterationLevelMotivation"></textarea>
								</mat-form-field>
								<mat-radio-group formControlName="needsPurificationSupport">
									<p>Will you need DEMAX to purify the protein from deuterated biomass?</p>
									<mat-radio-button value="yes">Yes</mat-radio-button>
									<mat-radio-button value="no">No</mat-radio-button>
								</mat-radio-group>
								<mat-radio-group formControlName="hasDoneUnlabeledProteinExpression">
									<p>Has expression been done for the unlabeled protein?</p>
									<mat-radio-button value="yes">Yes</mat-radio-button>
									<mat-radio-button value="no">No</mat-radio-button>
									<input type="text" placeholder="Typical yield">
								</mat-radio-group>
								<mat-radio-group formControlName="hasPurifiedUnlabeledProtein">
									<p> Have you been able to purify the unlabeled protein?</p>
									<mat-radio-button value="yes">Yes</mat-radio-button>
									<mat-radio-button value="no">No</mat-radio-button>
									<p> Please include chromatogram & image of SDS-PAGE in proposal.</p>
								</mat-radio-group>
								<mat-radio-group formControlName="hasProteinDeuterationExperience">
									<p>Have you tried to deuterate the protein yourself, even in small scale?</p>
									<mat-radio-button value="yes">Yes</mat-radio-button>
									<mat-radio-button value="no">No</mat-radio-button>
									<input type="text" placeholder="Results?">
								</mat-radio-group>
							</div>
						</mat-expansion-panel>
					</mat-expansion-panel>

					<mat-expansion-panel>
						<mat-expansion-panel-header>
							<mat-panel-title>Chemical deuteration</mat-panel-title>
							<mat-panel-description></mat-panel-description>
						</mat-expansion-panel-header>
						<div formGroupName="chemicalDeuteration" class="chemicalDeuteration">
							<mat-form-field>
								<p>Molecule/s to be deuterated (name):</p>
								<textarea rows="4" cols="40" matInput formControlName="moleculeName"></textarea>
							</mat-form-field>
							<mat-form-field>
								<p>Amount of material required (mass):</p>
								<textarea rows="4" cols="40" matInput formControlName="amount"></textarea>
							</mat-form-field>
							<mat-form-field>
								<p>Justify amount:</p>
								<textarea rows="4" cols="40" matInput formControlName="amountMotivation"></textarea>
							</mat-form-field>
							<mat-form-field>
								<p>Indicate percentage and location of deuteration:</p>
								<textarea rows="4" cols="40" matInput
								          formControlName="deuterationLocationAndPercentage"></textarea>
							</mat-form-field>
							<mat-form-field>
								<p>Justify level of deuteration:</p>
								<textarea rows="4" cols="40" matInput
								          formControlName="deuterationLevelMotivation"></textarea>
							</mat-form-field>
							<mat-radio-group formControlName="hasPreviousProductionExperience">
								<p>Has this molecule (or an unlabeled/isotopic analogue) been prepared by yourself
									or
									others?</p>
								<mat-radio-button value="yes">Yes</mat-radio-button>
								<mat-radio-button value="no">No</mat-radio-button>
								<p> If “yes”, please provide protocol (attach a reference PDF if published):</p>
							</mat-radio-group>
						</div>
					</mat-expansion-panel>
					<div style="text-align: center;">
						<button mat-raised-button style="background-color: #0094CA; color: white;"
						        (click)="editProposal(proposal)">Save
						</button>
					</div>
					<div style="display: flex; justify-content: space-between;">
						<button mat-raised-button style="background-color: indianred;"
						        (click)="selectTab(1)">Back
						</button>
						<button mat-raised-button style="background-color: #005CBF; color: white;"
						        (click)="selectTab(3)">Next
						</button>
					</div>
				</mat-accordion>
			</mat-tab>
			<mat-tab label="4. Upload proposal & review">
				<mat-card>
					<mat-card-content>
						<table class="tab-4">
							<tr>
								<td><p>Generate PDF for review</p></td>
								<td>
									<button mat-raised-button style="background-color: red; color: white;">Generate
										PDF
									</button>
								</td>
							</tr>
						</table>
					</mat-card-content>
					<mat-card-actions>
						<button mat-raised-button style="background-color: #005CBF; color: white;" type="submit">Submit
							proposal
						</button>
					</mat-card-actions>
					<mat-divider></mat-divider>
					<mat-card-footer>
						<button mat-raised-button style="background-color: indianred;" (click)="selectTab(2)">Back
						</button>
					</mat-card-footer>
				</mat-card>
			</mat-tab>
		</mat-tab-group>
	</form>
</section>