<div class="jumbotron jumbotron-fluid" *ngIf="!isLoading">

	<h2>Change password</h2>

	<hr class="my-4">

	<mat-card style="padding: 2rem;">
		<mat-card-content>
			<mat-form-field style="margin-bottom: 1rem;">
				<input matInput
				       required
				       [type]="hide ? 'password' : 'text'"
				       name="password"
				       [(ngModel)]="user.password"
				       [formControl]="password"
				       placeholder="New password">
				<mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
				<mat-hint>Please use password with min. 8 letter mixture of upper/lower case and numbers</mat-hint>
				<mat-error *ngIf="password.invalid">Password is too weak</mat-error>
			</mat-form-field>
		</mat-card-content>

		<mat-action-row style="width: 100%; text-align: center;">
			<button mat-raised-button color="primary" (click)="editPassword(user)">Save</button>
			<button mat-raised-button color="warn" routerLink="/home">Cancel</button>
		</mat-action-row>
	</mat-card>
</div>

