<!--<mat-card formGroup="editPasswordForm">

	<mat-form-field style="margin-bottom: 1rem;">
		<input matInput
		       required
		       [type]="hide ? 'password' : 'text'"
		       name="password"
		       formControlName="password"
		       [formControl]="password"
		       placeholder="Password">

		<mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
		<mat-hint>Please use password with min. 8 letter mixture of upper/lower case and numbers</mat-hint>
		<mat-error *ngIf="password.invalid">{{getPasswordErrorMessage()}}</mat-error>
	</mat-form-field>
</mat-card>-->