<div class="jumbotron jumbotron-fluid" *ngIf="!isLoading">

	<h2>Change password</h2>

	<hr class="my-4">

	<mat-card style="padding: 2rem; max-width: 600px; text-align: center;" [formGroup]="editPasswordForm">
		<mat-card-content>
			<mat-form-field style="margin-bottom: 30px;">
				<input matInput
				       required
				       formControlName="password"
				       placeholder="Password"
				       [type]="hide ? 'password' : 'text'"
				       [(ngModel)]="user.password"
				       [ngClass]="editPasswordForm.controls['password'].invalid ? 'is-invalid' : ''">
				<mat-icon matTooltip="Show password" matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' :
					'visibility'}}
				</mat-icon>

				<mat-error
						[ngClass]="editPasswordForm.controls['password'].hasError('required') || editPasswordForm.controls['password'].hasError('minlength')  ? 'text-danger' : 'text-success'">
					<mat-icon>{{ editPasswordForm.controls['password'].hasError('required') ||
						editPasswordForm.controls['password'].hasError('minlength') ? 'cancel' : 'check_circle' }}
					</mat-icon>
					Must be at least 8 characters
				</mat-error>
				<mat-error
						[ngClass]="editPasswordForm.controls['password'].hasError('required') || editPasswordForm.controls['password'].hasError('hasNumber')  ? 'text-danger' : 'text-success'">
					<mat-icon>{{ editPasswordForm.controls['password'].hasError('required') ||
						editPasswordForm.controls['password'].hasError('hasNumber') ? 'cancel' : 'check_circle' }}
					</mat-icon>
					Must contain at least 1 number
				</mat-error>
				<mat-error
						[ngClass]="editPasswordForm.controls['password'].hasError('required') || editPasswordForm.controls['password'].hasError('hasCapitalCase')  ? 'text-danger' : 'text-success'">
					<mat-icon>{{ editPasswordForm.controls['password'].hasError('required') ||
						editPasswordForm.controls['password'].hasError('hasCapitalCase') ? 'cancel' : 'check_circle' }}
					</mat-icon>
					Must contain at least 1 letter in capital case
				</mat-error>

			</mat-form-field>

			<mat-form-field>

				<input matInput
				       required
				       formControlName="confirmPassword"
				       [type]="hide ? 'password' : 'text'"
				       placeholder="Confirm password"
				       [ngClass]="editPasswordForm.controls['confirmPassword'].invalid ? 'is-invalid' : ''">
				<mat-icon matTooltip="Show password" matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' :
					'visibility'}}
				</mat-icon>
				<mat-error *ngIf="editPasswordForm.controls['confirmPassword'].hasError('NoPasswordMatch')">Passwords do
					not match
				</mat-error>

			</mat-form-field>
		</mat-card-content>
		<mat-divider></mat-divider>
		<mat-card-actions>
			<button mat-raised-button
			        [disabled]="!editPasswordForm.valid"
			        class="mat-elevation-z5"
			        color="primary"
			        style="padding: 0 2rem;"
			        (click)="editPassword(user)">Save
			</button>
			<button mat-flat-button
			        color="warn"
			        routerLink="/home">Cancel
			</button>
		</mat-card-actions>

	</mat-card>
</div>

