.jumbotron {
	padding: 3rem;
	background-color: white;
	width: 70%;
}

.small-action {
	margin-right: 2rem;
}



.wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

.deadlines {
	margin-top: 2rem;
	min-width: 200px;
}
td{
	margin: 0.5rem;
}