<section>
	<div class="card">
		<form [formGroup]="registerForm" (ngSubmit)="register()">
			<mat-form-field style="width: 40%;">
				<input matInput required type="text" name="firstName" formControlName="firstName" placeholder="First name"
				       autofocus>
			</mat-form-field>
			<mat-form-field style="width: 40%;">
				<input matInput required ype="text" name="lastName" formControlName="lastName" placeholder="Last name">
			</mat-form-field>
			<mat-form-field style="width: 40%;">
				<input matInput required type="email" name="email" formControlName="email" placeholder="Email">
			</mat-form-field>
			<mat-form-field style="width: 40%;">
				<input matInput required type="text" name="phone" formControlName="phone" placeholder="Phone">
			</mat-form-field>
			<mat-form-field style="width: 40%;">
				<input matInput required type="password" name="password" formControlName="password" placeholder="Password">
			</mat-form-field>
			<p>Affiliation</p>
			<mat-form-field style="width: 40%;">
				<input matInput required type="text" name="employer" formControlName="employer" placeholder="Affiliation">
			</mat-form-field>
			<mat-form-field style="width: 40%;">
				<input matInput required type="text" name="jobTitle" formControlName="jobTitle" placeholder="Job title">
			</mat-form-field>
			<mat-checkbox required formControlName="hasConsentedToEmails">
				Receive mails and updates about your proposal process from DEMAX by email.
				<br>You can change this setting
				whenever you want. 
			</mat-checkbox>
			<mat-checkbox required formControlName="hasConsentedToGdpr">
				I confirm that I have read, consent and agree to the <br>DEMAX <a
					href="">Privacy
				Statement</a>
			</mat-checkbox>
			<app-message [message]="message.message"></app-message>
			<mat-action-row>
				<button mat-raised-button [disabled]="!registerForm.valid" color="primary" type="submit">Register
				</button>
			</mat-action-row>

		</form>
	</div>
</section>
