<mat-card *ngIf="!isLoading && isBrowsing">
	<mat-card-header>
		<mat-card-title>
			Listing all proposal rounds
		</mat-card-title>
		<mat-card-subtitle>
			Total: {{proposalRounds.length}}
		</mat-card-subtitle>
	</mat-card-header>
	<mat-card-content>
		<table mat-table [dataSource]="proposalRounds" class="table table-sm">
			<ng-container matColumnDef="year">
				<th mat-header-cell *matHeaderCellDef>Year</th>
				<td mat-cell *matCellDef="let proposalRound"> {{proposalRound.year}}</td>
			</ng-container>
			<ng-container matColumnDef="active">
				<th mat-header-cell *matHeaderCellDef>Active</th>
				<td mat-cell *matCellDef="let proposalRound"> <p *ngIf="proposalRound.active">Yes</p><p *ngIf="!proposalRound.active">No</p></td>
			</ng-container>
			<ng-container matColumnDef="proposalRoundId">
				<th mat-header-cell *matHeaderCellDef>ID</th>
				<td mat-cell *matCellDef="let proposalRound"> {{proposalRound.proposalRoundId}}</td>
			</ng-container>
			<ng-container matColumnDef="cycleId">
				<th mat-header-cell *matHeaderCellDef>Cycle ID</th>
				<td mat-cell *matCellDef="let proposalRound"> {{proposalRound.cycleId}}</td>
			</ng-container>
			<ng-container matColumnDef="submission">
				<th mat-header-cell *matHeaderCellDef>Submission</th>
				<td mat-cell *matCellDef="let proposalRound"> {{proposalRound.submission.startDate | slice:0:10}} - {{proposalRound.submission.endDate | slice:0:10}}</td>
			</ng-container>
			<ng-container matColumnDef="review">
				<th mat-header-cell *matHeaderCellDef>Review</th>
				<td mat-cell *matCellDef="let proposalRound"> {{proposalRound.review.startDate | slice:0:10}} - {{proposalRound.review.endDate | slice:0:10}}</td>
			</ng-container>
			<ng-container matColumnDef="notifyUsers">
				<th mat-header-cell *matHeaderCellDef>Notify users</th>
				<td mat-cell *matCellDef="let proposalRound"> {{proposalRound.notifyUsers.startDate | slice:0:10}} - {{proposalRound.notifyUsers.endDate | slice:0:10}}</td>
			</ng-container>
			<ng-container matColumnDef="edit">
				<th mat-header-cell *matHeaderCellDef>Options</th>
				<td mat-cell *matCellDef="let proposalRound">
					<button class="btn btn-sm btn-success" (click)="enableEditing(proposalRound)">Edit</button>
				</td>
			</ng-container>
			<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
			<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
		</table>
	</mat-card-content>
	<mat-card-actions>
		<button mat-raised-button color="primary" (click)="enableCreating()">Create new proposal round</button>
	</mat-card-actions>
</mat-card>
<div class="container" *ngIf="isCreating">
<mat-card [formGroup]="editProposalRoundForm" (ngSubmit)="addProposalRound()" style="flex: 0.5;">
	<mat-card-header>
		<mat-card-title>Create a new proposal round</mat-card-title>
		<mat-card-subtitle>Set all the important dates, deadlines etc.</mat-card-subtitle>
	</mat-card-header>
	<mat-card-content>
		<div formGroupName="submission">
			<p>Submission</p>
			<mat-form-field style="padding: 0;">
				<input matInput
				       formControlName="startDate"
				       required
				       [matDatepicker]="submissionStartDate"
				       placeholder="Startdate">
				<mat-datepicker-toggle matSuffix [for]="submissionStartDate"></mat-datepicker-toggle>
				<mat-datepicker #submissionStartDate></mat-datepicker>
			</mat-form-field>
			<mat-form-field style="padding: 0;">
				<input matInput
				       formControlName="endDate"
				       required
				       [matDatepicker]="submissionEndDate"
				       placeholder="Enddate">
				<mat-datepicker-toggle matSuffix [for]="submissionEndDate"></mat-datepicker-toggle>
				<mat-datepicker #submissionEndDate></mat-datepicker>
			</mat-form-field>
		</div>
		<div formGroupName="review">
			<p>Review</p>
			<mat-form-field style="padding: 0;">
				<input matInput
				       formControlName="startDate"
				       required
				       [matDatepicker]="reviewStartDate"
				       placeholder="Startdate">
				<mat-datepicker-toggle matSuffix [for]="reviewStartDate"></mat-datepicker-toggle>
				<mat-datepicker #reviewStartDate></mat-datepicker>
			</mat-form-field>
			<mat-form-field style="padding: 0;">
				<input matInput
				       formControlName="endDate"
				       required
				       [matDatepicker]="reviewEndDate"
				       placeholder="Enddate">
				<mat-datepicker-toggle matSuffix [for]="reviewEndDate"></mat-datepicker-toggle>
				<mat-datepicker #reviewEndDate></mat-datepicker>
			</mat-form-field>
		</div>
		<div formGroupName="notifyUsers">
			<p>Notify users</p>
			<mat-form-field style="padding: 0;">
				<input matInput
				       formControlName="startDate"
				       required
				       [matDatepicker]="notifyUsersStartDate"
				       placeholder="Startdate">
				<mat-datepicker-toggle matSuffix [for]="notifyUsersStartDate"></mat-datepicker-toggle>
				<mat-datepicker #notifyUsersStartDate></mat-datepicker>
			</mat-form-field>
			<mat-form-field style="padding: 0;">
				<input matInput
				       formControlName="endDate"
				       required
				       [matDatepicker]="notifyUsersEndDate"
				       placeholder="Enddate">
				<mat-datepicker-toggle matSuffix [for]="notifyUsersEndDate"></mat-datepicker-toggle>
				<mat-datepicker #notifyUsersEndDate></mat-datepicker>
			</mat-form-field>
		</div>
		<div class="non-dates">

			<mat-form-field>
				<p>Runcycle <em>(e.g. June - November etc.)</em></p>
				<input matInput formControlName="runCycle" placeholder="Runcycle">
			</mat-form-field>
			<mat-form-field>
				<p>Wrap-up & user survey <em>(e.g. December etc.)</em></p>
				<input matInput formControlName="wrapUpAndUserSurvey">
			</mat-form-field>
			<mat-form-field>
				<p>Enter the year</p>
				<input matInput type="number" formControlName="year">
			</mat-form-field>
			<mat-form-field>
				<p>Cycle ID</p>
				<input matInput type="number" formControlName="cycleId">
			</mat-form-field>
		</div>
	</mat-card-content>
	<mat-card-actions>
		<button mat-raised-button color="primary" (click)="addProposalRound()">Create</button>
		<button mat-raised-button color="warn" (click)="cancelCreating()">Cancel</button>
	</mat-card-actions>
</mat-card>
<mat-card style="flex: 0.5;">
	<mat-card-title>
		<mat-icon>event</mat-icon>
		Important dates
	</mat-card-title>
	<mat-card-content>
		<table>
			<tr>
				<td>
					Proposal submission:
				</td>
				<td>
					{{editProposalRoundForm.controls['submission'].value.startDate}} -
					{{editProposalRoundForm.controls['submission'].value.endDate}}
				</td>
			</tr>
			<mat-divider></mat-divider>
			<tr>
				<td>
					Review:
				</td>
				<td>
					{{editProposalRoundForm.controls['review'].value.startDate}} -
					{{editProposalRoundForm.controls['review'].value.endDate}}
				</td>
			</tr>
			<mat-divider></mat-divider>
			<tr>
				<td>
					Notify users:
				</td>
				<td>
					{{editProposalRoundForm.controls['notifyUsers'].value.startDate}} -
					{{editProposalRoundForm.controls['notifyUsers'].value.endDate}}
				</td>
			</tr>
			<mat-divider></mat-divider>
			<tr>
				<td>Run cycle:</td>
				{{editProposalRoundForm.controls['runCycle'].value}}
			</tr>
			<mat-divider></mat-divider>
			<tr>
				<td>Wrap-up & user survey:</td>
				{{editProposalRoundForm.controls['wrapUpAndUserSurvey'].value}}
			</tr>
		</table>
	</mat-card-content>
</mat-card>
</div>
<mat-card *ngIf="isLoading">
	<mat-card-header>
		<mat-card-subtitle>Loading...</mat-card-subtitle>
	</mat-card-header>
	<div class="lds-roller">
		<div></div>
		<div></div>
		<div></div>
		<div></div>
		<div></div>
		<div></div>
		<div></div>
		<div></div>
	</div>
</mat-card>
